{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div>
        <h3><u>Accepted Papers : Doctoral Consortium</u></h3>
        <br>
        <b>Coordination of Electric Vehicle Aggregator Participation in the Day-Ahead Market (Doctoral Consortium)</b> <br>
        Alvaro Perez-Diaz
        <br> <hr>
        <b>Bringing Multi-agent Path Finding Closer to Reality</b> <br>
        Jiri Svancara
        <br> <hr>
{#        <b>Abstract Representations of Objects for Improved Task Learning and Planning</b> <br>#}
{#        Lakshmi Nair#}
{#        <br> <hr>#}
        <b>Realistic Agents with Social Practices</b> <br>
        Rijk Mercuur
        <br> <hr>
        <b>Incremental Learning of Mental Models for Behavior Understanding (Doctoral Consortium)</b> <br>
        Jan Poppel
        <br> <hr>
        <b>Decentralized Reinforcement Learning inspired by Multiagent Systems</b> <br>
        Dhaval Adjodah
        <br> <hr>
{#        <b>Goal Recognition as Reasoning over Landmarks in Incomplete Domain Models</b> <br>#}
{#        Ramon Fraga Pereira#}
{#        <br> <hr>#}
        <b>Transfer of Social Human-Human Interaction to Social Human-Agent Interaction</b> <br>
        Tanja Schneeberger
        <br> <hr>
        <b>K-ACE: an innovative Multi-Component and Multi-Level Architecture (Doctoral Consortium)</b> <br>
        Valentina Pitoni
        <br> <hr>
        <b>Collaborative Adaptive Autonomous Agents</b> <br>
        Mirgita Frasheri
        <br> <hr>
        <b>Socially-Aware Reinforcement Learning for Personalized Human-Robot Interaction</b> <br>
        Hannes Ritschel
        <br> <hr>
        <b>Towards a Policy-Based Distributed Data-Sharing Economy (Doctoral Consortium) </b> <br>
        Samuel Cauvin
        <br> <hr>
{#        <b>Coverage control in swarms of autonomous underwater vehicles for monitoring of transient ocean events</b> <br>#}
{#        Thomas Lowndes#}
{#        <br> <hr>#}
        <b>Join the Group Formations using Social Cues in Social Robots</b> <br>
        Sai Krishna Pathi
        <br> <hr>
        <b>Collaborative Privacy Management in Online Social Networks</b> <br>
        Onuralp Ulusoy
        <br> <hr>
        <b>Generating Policies for Persuasion Dialogues</b> <br>
        Tanja N. Daub
        <br> <hr>
        <b>Scalable Task and Motion Planning for Multi-Robot Systems in Obstacle-Rich Environments (Doctoral Consortium)</b> <br>
        Wolfgang Hoenig
        <br> <hr>
        <b>Utility Decomposition for Planning under Uncertainty for Autonomous Driving </b> <br>
        Maxime Bouton
{#        <br> <hr>#}
{#        <b>Second-Order Opponent Modeling To Improve Agent Performance in Negotiation (Doctoral Consortium)</b> <br>#}
{#        Sahar Mirzayi#}
        <br> <hr>
        <b>Multi-issue Voting with Propositional Goals</b> <br>
        Arianna Novaro
        <br> <hr>
        <b>Incident Prediction and Response Optimization</b> <br>
        Ayan Mukhopadhyay
        <br> <hr>
        <b>Agent-Based Probabilistic Models of Social Interaction (Doctoral Consortium)</b> <br>
        Chad Crawford
        <br> <hr>
        <b>Distributed Task Allocation Optimisation Techniques</b> <br>
        Joanna Turner
        <br> <hr>
        <b>A Self-Configurable IoT Agent System based on Environmental Variability</b> <br>
        Nathalia Nascimento
        <br> <hr>
        <b>Multiagent scheduling optimization in dynamic environments under energy constraints (Doctoral Consortium)</b> <br>
        Erez Hartuv
        <br> <hr>
        <b>Adaptive Dynamic Pricing for Market-based Allocation of Interdependent Commodities</b> <br>
        Jan Mrkos
        <br> <hr>
        <b>Personalized Robot Tutors that Learn from Multimodal Data (Doctoral Consortium)</b> <br>
        Samuel Spaulding
        <br> <hr>
    </div>
{% endblock %}