{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div>
        <h3><u>Accepted Papers : Socially Interactive Agents Track</u></h3>
        <br>
        <h4><u>Full Papers</u></h4>
            <b>Combining Planning with Gaze for Online Human Intention Recognition</b> <br>
            Tim Miller, Ronal Singh, Joshua Newn, Liz Sonenberg, Eduardo Velloso, Frank Vetere<br>
            <hr>
            <b>Exploring the impact of fault justification in human-robot trust</b> <br>
            Filipa Correia, Carla Guerra, Samuel Mascarenhas, Francisco S. Melo, Ana Paiva<br>
            <hr>
            <b>The Effects of Past Experience on Trust in Repeated Human-Agent Teamwork</b> <br>
            Feyza Hafizoglu, Sandip Sen<br>
            <hr>
            <b>Engineering Social Agent Creation into an Opportunity for Interviewing and Interpersonal Skills Training</b> <br>
            Shivashankar Halan, Benjamin Lok, Isaac Sia, Anna Miles, Michael Crary<br>
            <hr>
            <b>Learning Sharing Behaviors with Arbitrary Numbers of Agents</b> <br>
            Katherine Metcalf, Barry-John Theobald, Nicholas Apostoloff<br>
            <hr>
            <b>Virtually Bad: A Study on Virtual Agents that Physically Threaten Human Beings</b> <br>
            Tibor Bosse, Tilo Hartmann, Romy Blankendaal, Nienke Dokter, Marco Otte, Linford Goedschalk<br>
            <hr>
            <b>MARSSI: Model of Appraisal, Regulation, and Social Signal Interpretation</b> <br>
            Patrick Gebhard, Tanja Schne, Tobias Baur, Elisabeth Andre<br>
            <hr>
            <b>Automatic Nonverbal Behavior Generation from Image Schemas</b> <br>
            Brian Ravenet, Chloé Clavel, Catherine Pelachaud<br>
            <hr>
            <b>Satisficing Models of Bayesian Theory of Mind to Explain the Behavior of Differently Uncertain Agents</b> <br>
            Jan Pöppel, Stefan Kopp<br>
            <hr>
            <b>Challenges in Exploiting Conversational Memory in Human-Agent Interaction</b> <br>
            Joana Campos, James Kennedy, Jill Fain Lehman<br>
            <hr>
            <b>Field Study Analysis of a Socially Aware Robot Assistant</b> <br>
            Florian Pecune, Justine Cassell, Jingya Chen, Yoichi Matsuyama<br>
            <hr>
            <b>Welcome to the Real World: How Agent Strategy Increases Human Willingness to Deceive</b> <br>
            Johnathan Mell, Gale Lucas, Jonathan Gratch<br>
            <hr>
            <b>I Know What You Don't Know: Proactive Learning through Targeted Human Interaction</b> <br>
            Abdelwahab Bourai, Jaime Carbonell<br>
            <hr>
            <b>Communicative Listener Feedback in Human–Agent Interaction: Artificial Speakers Need to Be Attentive and Adaptive</b><br>
            Hendrik Buschmeier, Stefan Kopp
            <br>
            <b>A Social Robot System for Modeling Children's Word Pronunciation</b> <br>
            Samuel Spaulding, Huili Chen, Safinah Ali, Michael Kulinski, Cynthia Breazeal<br>
            <hr>
            <b>Prediction of Student Achievement Goals and Emotion Valence during Interaction with Pedagogical Agents</b> <br>
            Sébastien Lallé, Cristina Conati, Roger Azevedo<br>
            <hr>
            <br>

            <h4><u>Extended Abstracts</u></h4>
            <hr>
            <b>Social Kinematics of Virtual Agents</b> <br>
            David Jeong, Dan Feng<br>
            <hr>
            <b>Sensitivity To Perceived Mutual Understanding In Co-Creative Human-Robot Interactions</b> <br>
            alexis jacq, Julien Magnan, Maria Ferreira, Pierre Dillenbourg, Ana Paiva<br>
            <hr>
            <b>NADiA - Neural Network Driven Virtual Human Conversation Agents</b> <br>
            Jason Wu, Sayan Ghosh, Mathieu Chollet, Steven Ly, Sharon Mozgai, Stefan Scherer<br>
            <hr>
            <b>Benchmark Framework for Virtual Students Reactive Behaviours</b> <br>
            Jean-luc Lugrin, Fred Charles, Michael Habel, Matthews Jamie, Julie Porteous, Henrik Dudaczy, Sebastian Oberdörfer, Alice Wittmann, Christian Seufert, Silke Grafe, Marc Latoschik<br>
            <hr>
            <b>Virtual Agent Interaction Framework (VAIF): A Tool for Rapid Development of Social Agents</b> <br>
            Ivan Gris, David Novick<br>
            <hr>
            <b>Shaping Gestures to Shape Personality: Big-Five Traits, Godspeed Scores and the Similarity-Attraction Effect</b> <br>
            Bart Craenen, Amol Deshmukh, Mary Ellen Foster, Alessandro Vinciarelli<br>
            <hr>
            <b>Shaping Cooperation between Humans and Agents with Emotion Expressions and Framing</b> <br>
            Celso de Melo, Peter Khooshabeh, Ori Amir, Jonathan Gratch<br>
            <hr>
            <b>Avoiding breakdown of conversational dialogue through inter-robots coordination</b> <br>
            Hiroaki Sugiyama, Toyomi Meguro, Yuichiro Yoshikawa, Junji Yamato<br>
            <hr>
            <b>I've got the power's value! A computational model to evaluate the interlocutor's behaviors in collaborative negotiation</b> <br>
            lydia ould ouali, Nicolas Sabouret, Charles Rich<br>
            <hr>
            <b>Motor Resonance as Indicator for Quality of Interaction - Does it Scale to Natural Movements?</b> <br>
            Frank Foerster, Kerstin Dautenhahn, Chrystopher Nehaniv<br>
            <hr>
            <b>Investigating social distances between humans, virtual humans and virtual robots in mixed reality</b> <br>
            Christopher Peters, Fangkai Yang, Chengjie Li, Gabriel Skantze, Vanya Avramova<br>
            <hr>
            <b>Towards an Online Emotional Support Agent: Identifying Emotional Support Strategies via Crowdsourcing</b> <br>
            Lenin Medeiros, Tibor Bosse<br>
            <hr>
            <b>How to shape the humor of a robot? Behavioral adaptation based on continuous social cues</b> <br>
            Klaus Weber, Hannes Ritschel, Florian Lingenfelser, Elisabeth Andre<br>
            <hr>
            <b>Robot Expressive Behaviour and Autistic Traits</b> <br>
            Peter McKenna, Ruth Aylett, Ayan Ghosh, Frank Broz, Gnanathusharan Rajendran<br>
            <hr>
            <b>Socially-Conditioned Task Reasoning for a Virtual Tutoring Agent</b> <br>
            Zian Zhao, Michael Madaio, Florian Pecune, Yoichi Matsuyama, Justine Cassell<br>
            <hr>
            <b>Modelling Conflict Dynamics in Dyadic Interactions</b> <br>
            Joana Campos, Carlos Martinho, Ana Paiva<br>
            <hr>
            <b>Sara: An Emotionally Aware Embodied Conversational Agent</b> <br>
            Samuel Sohn, Xun Zhang, Mubbasir Kapadia, Fernando Geraci<br>
            <hr>
            <b>Investigating the Role of Memory and Communication in Navigating Unseen Environments using Cognitive Maps</b> <br>
            Samuel Sohn, Serena De Stefani, Mubbasir Kapadia<br>
            <hr>
    </div>
{% endblock %}