{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div>
        <h3><u>Accepted Papers : Robotics Track</u></h3>
        <br>
    <h4><u>Full Papers</u></h4>

        <b>Dynamic UAV Swarm Deployment for Non-Uniform Coverage</b> <br>
        Dario Albani, Tiziano Manoni, Daniele Nardi, Vito Trianni<br>
        <hr>
        <b>Scheduling Spare Drones for Persistent Task Performance With Energy Constraints</b> <br>
        Erez Hartuv, Noa Agmon, Sarit Kraus<br>
        <hr>
        <b>PETLON: Planning Efficiently for Task-Level-Optimal Navigation</b> <br>
        Shih-Yun Lo, Shiqi Zhang, Peter Stone<br>
        <hr>
        <b>A Journey Among Pairs of Vertices: Computing Robots’ Paths for Performing Joint Measurements</b> <br>
        Alessandro Riva,Nicola Basilico, Francesco Amigoni, Carlo Fanton, Jacopo Banfi
        <hr>
        <b>Bounded Policy Synthesis for POMDPs with Safe-Reachability Objectives</b> <br>
        Yue Wang, Swarat Chaudhuri, Lydia Kavraki<br>
        <hr>
        <b>Managing Byzantine Robots via Blockchain Technology in a Swarm Robotics Collective Decision Making Scenario</b> <br>
        Volker Strobel, Eduardo Castelló Ferrer, Marco Dorigo<br>
        <hr>
        <b>A Distributed Self-Assembly Planning Algorithm for Modular Robots</b> <br>
        Thadeu Tucci, Benoit Piranda, Julien Bourgeois<br>
        <hr>
        <b>OWL-enabled Assembly Planning for Robotic Agents</b> <br>
        Daniel Beßler, Mihai Pomarlan, Michael Beetz<br>
        <hr>
        <b>Robot program construction via grounded natural language semantics and simulation</b> <br>
        Mihai Pomarlan, John Bateman<br>
        <hr>
        <b>Incrementally Learning Semantic Attributes through Dialogue Interaction</b> <br>
        Andrea Vanzo, Jose Luis Part, Yanchao Yu, Daniele Nardi, Oliver Lemon<br>
        <hr>
        <b>Communicative Cues for Reach-to-Grasp Motions: From Humans to Robots</b> <br>
        Dogancan Kebude, Cem Eteke, Tevfik Metin Sezgin, Baris Akgun<br>
        <hr>
        <b>Multi-Robot Simultaneous Coverage and Mapping\\ of Complex Scene - Comparison of Different Strategies</b> <br>
        Laetitia Matignon, Olivier Simonin<br>
        <hr>
        <b>Verifiable Control of Robotic Swarm from High-level Specifications</b> <br>
        Ji Chen, Salar Moarref, Hadas Kress-Gazit<br>
        <hr>
        <b>A Search-Based Approach to Solve Pursuit-Evasion Games with Limited Visibility in Polygonal Environments</b> <br>
        Alberto Quattrini Li, Francesco Amigoni, Raffaele Fioratto, Volkan Isler<br>
        <hr>
        <b>MTL Robustness for Path Planning with A*</b> <br>
        Sarra Alqahtani, Ian Riley, Samuel Taylor, Rose Gamble, Roger Mailler<br>
        <hr>
        <b>Online learning for crowd-sensitive path planning</b> <br>
        Anoop Aroor, Susan Epstein<br>
        <hr>
        <b>Multi-Feature Collective Decision Making in Robot Swarms</b> <br>
        Julia Ebert, Melvin Gauci, Radhika Nagpal<br>
        <hr>
        <b>Towards a Robust Interactive and Learning Social Robot</b> <br>
        Michiel de Jong, Kevin Zhang, Travers Rhodes, Robin Schmucker, Chenghui Zhou, Sofia Ferreira, João Cartucho, Manuela Veloso, Aaron Roth<br>
        <hr>
        <br>

        <h4><u>Extended Abstracts</u></h4>

        <b>Increasing the Effectiveness of Multi-robot Prioritized Path Planning via Appropriate Scheduling and Introducing Safe-Start-Intervals</b> <br>
        Konstantin Yakovlev, Anton Andreychuk<br>
        <hr>
        <b>Simulating Shared Airspace for Service UAVs with Conflict Resolution</b> <br>
        Florence Ho, Ruben Geraldes, Artur Gonçalves, Marc Cavazza, Helmut Prendinger<br>
        <hr>
        <b>Distributed Accurate Leader-Follower Formation Control Under Uncertainty</b> <br>
        Dany Rovinsky, Noa Agmon<br>
        <hr>
        <b>Learning Cognitive Affordances for Objects from Natural Language Instruction</b> <br>
        Vasanth Sarathy, Bradley Oosterveld, Evan Krause, Matthias Scheutz<br>
        <hr>
        <b>Apprenticeship Bootstrapping: Inverse Reinforcement Learning in Multi-Skill UAV-UGV Tracking Task</b> <br>
        Hussein Abbass, Hung Nguyen, Matthew Garratt, Lam Bui<br>
        <hr>
        <b>Affordance Discovery using Simulated Exploration</b> <br>
        Adam Allevato, Andrea Thomaz, Mitch Pryor<br>
        <hr>
        <b>KnowRob_sim -- Game Engine-enabled Knowledge Processing for Cognition-enabled Robot Control</b> <br>
        Andrei Haidu, Michael Beetz, Daniel Beßler, Asil Kaan Bozcuoğlu<br>
        <hr>
        <b>Learning Queuing Strategies in Human-Multi-Robot Interaction</b> <br>
        Masoume M. Raeissi, Alessandro Farinelli<br>
        <hr>
        <b>Task Fusion Heuristics for Coalition Formation and Planning</b> <br>
        Gilberto Marcon dos Santos, Julie Adams<br>
        <hr>
        <b>Institutions for Mixed Human-Robot Societies: a Preliminary Study</b> <br>
        Stevan Tomic, Alicja Wasik, Pedro Lima, Alcherio Martinoli, University of Rome Sapienza", Alessandro Saffiotti<br>
        <hr>
        <b>DOP: Deep Optimistic Planning with Approximate Value Function Evaluation</b> <br>
        Francesco Riccio, Roberto Capobianco, Daniele Nardi<br>
        <hr>
        <b>Calibrated Mixed Reality for Scalable Multi-Robot Experiments</b> <br>
        Victoria Edwards, Peter Gaskell, Edwin Olson<br>
        <hr>
        <b>Balancing Explicability and Explanations - Emergent Behaviors in Human-Aware Planning</b> <br>
        Tathagata Chakraborti, Sarath Sreedharan, Subbarao Kambhampati<br>
        <hr>
        <b>Creating Explorations by Detecting Underspecified Feature Spaces</b> <br>
        Simon Mattsson, Matthias Scheutz<br>
        <hr>
        <b>Learning Spare-time Service Rewards for a Mobile Robot in a Structured Environment</b> <br>
        Max Korein, Manuela Veloso<br>
        <hr>
        <b>Exploiting Asynchrony in Multi-agent Consensus to Change the Agreement Point</b> <br>
        Ramitha Sundar, Sasanka Nagavalli, Katia Sycara<br>
        <hr>
        <b>Predicting Supportive Behaviors based on User Preferences for Human-Robot Collaboration</b> <br>
        Elena Corina Grigore, Olivier Mangin, Alessandro Roncone, Brian Scassellati<br>
        <hr>
        <b>Artificial Emotions as Dynamic Modulators of Individual and Group Behavior in Multi-robot System</b> <br>
        Jerome Guzzi, Alessandro Giusti, Jawad Nagi, Luca Maria Gambardella, Gianni Di Caro<br>
        <hr>
        <b>Circle Formation with Computation-Free Robots shows Emergent Behavioral Structure</b> <br>
        David St-Onge, Giovanni Beltrame, Carlo Pinciroli<br>
        <hr>
    </div>
{% endblock %}