{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div>
        <h3><u>Accepted Papers : Main Track</u></h3>
    <br>
    <h4><u>Full Papers</u></h4>
        <b>Autonomous Object-Oriented Curriculum Generation for Reinforcement Learning</b> <br>
        Felipe Leno Da Silva, Anna Helena Reali Costa<br>
        <hr>
        <b>Modelling Multiple Influences Diffusion in On-line Social Networks</b> <br>
        Weihua Li, Quan Bai, Minjie Zhang, Tung Doan Nguyen<br>
        <hr>
        <b>A Ranking Semantics based on Subgraphs Analysis</b> <br>
        Pierpaolo Dondio<br>
        <hr>
        <b>Second-Order Know-How Strategies</b> <br>
        Pavel Naumov, Jia Tao<br>
        <hr>
        <b>Competitive Equilibrium for almost All Incomes</b> <br>
        Erel Segal-Halevi<br>
        <hr>
        <b>Fairly Dividing a Cake after Some Parts Were Burnt in the Oven</b> <br>
        Erel Segal-Halevi<br>
        <hr>
        <b>On a Flexible Representation for Defeasible Reasoning Variants</b> <br>
        Abdelraouf Hecham, Pierre Bisquert, Madalina Croitoru<br>
        <hr>
        <b>Evaluating the Stability of Non-Adaptive Trading in Continuous Double Auctions</b> <br>
        Mason Wright, Michael Wellman<br>
        <hr>
        <b>Greedy Algorithms for Maximizing Nash Social Welfare</b> <br>
        Siddharth Barman, Sanath Kumar Krishnamurthy, Rohit Vaish<br>
        <hr>
        <b>Hypersequential Argumentation Frameworks: An Instantiation in the Modal Logic S5</b> <br>
        Ofer Arieli, AnneMarie Borg<br>
        <hr>
        <b>A Scheduling-Based Approach to Multi-Agent Path Finding with Weighted and Capacitated Arcs</b> <br>
        Roman Barták, Jiří Švancara, Marek Vlk<br>
        <hr>
        <b>Socially Friendly and Group Protecting Coalition Logics</b> <br>
        Valentin Goranko, Sebastian Enqvist<br>
        <hr>
        <b>Controlling Elections through Social Influence</b> <br>
        Bryan Wilder, Yevgeniy Vorobeychik<br>
        <hr>
        <b>Stability and Pareto Optimality in Refugee Allocation Matchings</b> <br>
        Haris Aziz, Jiayin Chen, Serge Gaspers, Zhaohong Sun<br>
        <hr>
{#        <b>Generalizing Top Trading Cycles for Housing Markets with Fractional Endowments</b> <br>#}
{#        Haris Aziz<br>#}
{#        <hr>#}
        <b>Price-based Online Mechanisms for Settings with Uncertain Future Procurement Costs and Multi-Unit Demand</b> <br>
        Keiichiro Hayakawa, Enrico Gerding, Sebastian Stein, Takahiro Shiga<br>
        <hr>
        <b>Human-Interactive Subgoal Supervision for Efficient Inverse Reinforcement Learning</b> <br>
        xinlei pan, Yilin Shen<br>
        <hr>
        <b>Optimal Constraint Collection for Core-selecting Path Mechanism</b> <br>
        Hao Cheng, Lei Zhang, Yi Zhang, Jun Wu, Chongjun Wang<br>
        <hr>
        <b>Towards Partial Order Reductions for Strategic Ability</b> <br>
        Wojciech Jamroga, Wojciech Penczek, Piotr Dembiński, Antoni Mazurkiewicz<br>
        <hr>
        <b>Gerrymandering Over Graphs</b> <br>
        Amittai Cohen-Zemach, Yoad Lewenberg, Jeffrey Rosenschein<br>
        <hr>
        <b>Between Proportionality and Diversity: Balancing District Sizes under the Chamberlin–Courant Rule</b><br>
        Piotr Faliszewski, Nimrod Talmon
        <hr>
        <b>Proportionally Representative Participatory Budgeting: Axioms and Algorithms</b> <br>
        Haris Aziz, Barton Lee, Nimrod Talmon<br>
        <hr>
        <b>Optimization-Based Voting Rule Design: The Closer to Utopia the Better</b> <br>
        Piotr Faliszewski, Stanislaw Szufa, Nimrod Talmon<br>
        <hr>
        <b>A Generic Domain Pruning Technique for GDL-based DCOP algorithms in Cooperative Multi-Agent Systems</b> <br>
        Md. Mosaddek Khan, Long Tran-Thanh, Nick Jennings<br>
        <hr>
        <b>A Near-Optimal Node-to-Agent Mapping Heuristic for GDL-based DCOP Algorithms in Multi-Agent Systems</b> <br>
        Md. Mosaddek Khan, Long Tran-Thanh, William Yeoh, Nick Jennings<br>
        <hr>
        <b>Assigning Tasks to Workers based on Historical Data: Online Task Assignment with Two-sided Arrivals</b> <br>
        John P. Dickerson, Karthik Abinav Sankararaman, Aravind Srinivasan, Pan Xu<br>
        <hr>
        <b>HIGHLIGHTS: Summarizing Agent Behaviors to People</b> <br>
        Dan Amir, Ofra Amir<br>
        <hr>
        <b>The Power of Context in Networks: Ideal Point Models with Social Interactions</b> <br>
        Mohammad Irfan, Tucker Gordon<br>
        <hr>
        <b>Information Design in Crowdfunding under Thresholding Policies</b> <br>
        Wen Shen, Jacob Crandall, Ke Yan, Cristina Lopes<br>
        <hr>
        <b>More complexity results about reasoning over (m)CP-nets</b> <br>
        Enrico Malizia<br>
        <hr>
        <b>Heterogeneous Facility Location Games</b> <br>
        Eleftherios Anastasiadis, Argyrios Deligkas<br>
        <hr>
        <b>Proportionality and Strategyproofness in Multiwinner Elections</b> <br>
        Dominik Peters<br>
        <hr>
        <b>Boundedly Rational Voters in Large(r) Networks</b> <br>
        Alan Tsang, Amirali Salehi-Abari, Kate Larson<br>
        <hr>
        <b>Stackelberg Security Games with Multiple Uncoordinated Defenders</b> <br>
        Jiarui Gan, Edith Elkind, Michael Wooldridge<br>
        <hr>
        <b>Integrated Hybrid Planning and Programmed Control for Real–Time UAV Maneuvering</b><br>
        Miquel Ramirez, Michael Papasimeon, Nir Lipovetzky, Tim Miller, Adrian Pearce, Lyndon Benke, Enrico Scala, Mohammad Zamani
        <hr>
        <b>Optimizing network structure for preventative health</b> <br>
        Bryan Wilder, Han Ching Ou, Kayla de la Haye, Milind Tambe<br>
        <hr>
        <b>Efficient allocation mechanism with endowments and distributional constraints</b> <br>
        Makoto Yokoo, Takamasa Suzuki, Akihisa Tamura<br>
        <hr>
        <b>Multi-Agent Reinforcement Learning for Multi-Object Tracking</b> <br>
        Pol Rosello, Mykel Kochenderfer<br>
        <hr>
        <b>Diversity Constraints in Public Housing Allocation</b> <br>
        Nawal Benabbou, Mithun Chakraborty, Xuan-Vinh Ho, Jakub Sliwinski, Yair Zick<br>
        <hr>
        <b>Ranking mechanism design for price-setting agents in e-commerce</b> <br>
        Qingpeng Cai, Pingzhong Tang, Yulong Zeng<br>
        <hr>
        <b>Balancing the Pain and Gain of Hobnobbing: Utility-Based Network Building over Attributed Social Networks</b> <br>
        Yijin Cai, Hong Zheng, Jiamou Liu, Bo Yan, Yiping Liu<br>
        <hr>
        <b>Playing the Wrong Game: Bounding Negative Externalities in Diverse Populations of Agents</b> <br>
        Reshef Meir, David Parkes<br>
        <hr>
        <b>Context-based and Explainable Decision Making with Argumentation</b> <br>
        Zhiwei Zeng<br>
        <hr>
        <b>Learning Temporal Strategic Relationships using Generative Adversarial Imitation Learning</b> <br>
        Tharindu Fernando, Simon Denman, Sridha Sridharan, Clinton Fookes<br>
        <hr>
        <b>Concurrent Game Structures for Temporal STIT Logic</b> <br>
        Joseph Boudou, Emiliano Lorini<br>
        <hr>
        <b>Model Checking Multi-Agent Systems against LDLK Specifications on Finite Traces</b> <br>
        Jeremy Kong, Alessio Lomuscio<br>
        <hr>
        <b>On the Complexity of Optimal Correlated Auctions and Reverse Auctions</b> <br>
        Matthias Gerstgrasser<br>
        <hr>
        <b>On Collusion and Coercion: Agent Interconnectedness and In-Group Behaviour</b> <br>
        F. Jordan Srour, Neil Yorke-Smith<br>
        <hr>
        <b>A normal modal logic for trust in the sincerity</b> <br>
        Christopher Leturc, Gregory Bonnet<br>
        <hr>
        <b>Efficient Reciprocal Collision Avoidance between Heterogeneous Agents Using CTMAT</b> <br>
        Yuexin Ma, Dinesh Manocha, Wenping Wang<br>
        <hr>
        <b>Design of Coalition Resistant Credit Score Functions for  Online Discussion Forums</b> <br>
        Ganesh Ghalme, SUJIT GUJAR, Amleshwar Kumar, Shweta Jain, Yadati Narahari<br>
        <hr>
        <b>Phase Transition of the 2-Choices Dynamics on Core-Periphery Networks</b> <br>
        Emilio Cruciani, Emanuele Natale, André Nusser, Giacomo Scornavacca<br>
        <hr>
        <b>High-Multiplicity Election Problems</b> <br>
        Zack Fitzsimmons, Edith Hemaspaandra<br>
        <hr>
        <b>Stable Outcomes in Modified Fractional Hedonic Games</b> <br>
        Gianpiero Monaco, Luca Moscardelli, Yllka Velaj<br>
        <hr>
        <b>Online Coalition Structure Generation in Graph Games</b> <br>
        Gianpiero Monaco, Luca Moscardelli, Michele Flammini, Mordechai Shalom, Shmuel Zaks<br>
        <hr>
        <b>Compositional Correctness in Multiagent Interactions</b> <br>
        Samuel Christie, Amit Chopra, Munindar Singh<br>
        <hr>
        <b>Faster Policy Adaptation in Environments with Exogeneity: A State Augmentation Approach</b> <br>
        Zhuoshu Li, Zhitang Chen, Pascal Poupart, Sanmay Das, Yanhui Geng<br>
        <hr>
        <b>Learning Optimal Redistribution Mechanisms Through Neural Networks</b> <br>
        Manisha Padala, Cv Jawahar, SUJIT GUJAR<br>
        <hr>
        <b>Prioritized Sequent-Based Argumentation</b> <br>
        Ofer Arieli, AnneMarie Borg, Christian Straßer<br>
        <hr>
        <b>Constrained-Based Differential Privacy for Mobility Services</b> <br>
        Ferdinando Fioretto, Chansoo Lee, Pascal Van Hentenryck<br>
        <hr>
        <b>Hierarchical Agent Supervision</b> <br>
        Bita Banihashemi, Giuseppe De Giacomo, Yves Lesperance<br>
        <hr>
        <b>Do all tournaments admit irrelevant matches?</b> <br>
        Marco Faella, Luigi Sauro<br>
{#        <hr>#}
{#        <b>Non-parametric Fitted Relational Value Iteration: Unifying Relational and Propositional Discrete Domains</b> <br>#}
{#        Kaushik Roy, Phillip Odom, Kristian Kersting, Ronald Parr, Sriraam Natarajan<br>#}
        <hr>
        <b>Collective Schedules: Scheduling Meets Computational Social Choice</b> <br>
        Fanny Pascual, Krzysztof Rzadca, Piotr Skowron<br>
        <hr>
        <b>Preference Elicitation with Interdependency and User Bother Cost</b> <br>
        Tiep Le, Atena MTabakhi, Long Tran-Thanh, William Yeoh, Tran Cao Son<br>
        <hr>
        <b>Eliminating Opportunism using an Epistemic Mechanism</b> <br>
        Jieting Luo, Max Knobbout, John-Jules Meyer<br>
        <hr>
        <b>On the Distance Between CP-nets</b> <br>
        Andrea Loreggia, Nicholas Mattei, Francesca Rossi, K. Brent Venable<br>
        <hr>
        <b>A Unified Framework for Opinion Dynamics</b> <br>
        Adam Coates, Anthony Kleerekoper, Liangxu Han<br>
        <hr>
        <b>Local Wealth Redistribution Promotes Cooperation in Multiagent Systems</b> <br>
        Flávio Pinheiro, Fernando Santos<br>
        <hr>
        <b>Equilibrium Refinement in Security Games with Arbitrary Scheduling Constraints</b> <br>
        Kai Wang, Qingyu Guo, Phebe Vayanos, Milind Tambe, Bo An<br>
        <hr>
        <b>Seasonal Goods and Spoiled Milk: Pricing for a Limited Shelf-Life</b> <br>
        Atiyeh Ashari Ghomi, Allan Borodin, Omer Lev<br>
        <hr>
        <b>Facility Location with Variable and Dynamic Populations</b> <br>
        Yuho Wada, Tomohiro Ono, Taiki Todo, Makoto Yokoo<br>
        <hr>
        <b>Arbitrage-free Pricing in User-based Markets</b> <br>
        Chaolun Xia, Shan Muthukrishnan<br>
        <hr>
        <b>Action Selection for Transparent Planning</b> <br>
        Aleck MacNally, Nir Lipovetzky, Miquel Ramirez, Adrian Pearce<br>
        <hr>
        <b>Activating the "Breakfast Club": Modeling Influence Spread in Natural-World Social Networks</b> <br>
        Lily Hu, Bryan Wilder, Amulya Yadav, Eric Rice, Milind Tambe<br>
        <hr>
        <b>Multi-armed bandit algorithms for  crowdsourcing systems with  online estimation of  workers' ability</b> <br>
        Anshuka Rangi, Massimo Franceschetti<br>
        <hr>
        <b>End-to-End Influence Maximization in the Field</b> <br>
        Bryan Wilder, Laura Onasch-Vera, Juliana Hudson, Jose Luna, Nicole Wilson, Robin Petering, Darlene Woo, Milind Tambe, Eric Rice<br>
        <hr>
        <b>A Deep Policy Inference Q-Network for Multi-Agent Systems</b> <br>
        Zhang-Wei Hong, Shih-Yang Su, Tzu-Yun Shann, Yi-Hsiang Chang, Chun-Yi Lee<br>
        <hr>
        <b>Please be an Influencer? Contingency-Aware Influence Maximization</b> <br>
        Amulya Yadav, Ritesh Noothigattu, Eric Rice, Laura Onasch-Vera, Leandro Soriano Marcolino, Venil Loyd Noronha, Milind Tambe<br>
        <hr>
        <b>A Unifying Framework for Manipulation Problems</b> <br>
        Matthias Mnich, Martin Koutecky, Dušan Knop<br>
        <hr>
        <b>Agent-Based Simulation of Offender Mobility: Integrating Activity Nodes from Location-Based Social Networks</b> <br>
        Raquel Rosés, Cristina Kadar, Charlotte Gerritsen, Chris Ovi Rouly<br>
        <hr>
        <b>Slim-DP: A Multi-Agent System for Communication-Efficient Distributed Deep Learning</b> <br>
        Shizhao Sun, Wei Chen, Jiang Bian, Xiaoguang Liu, Tie-Yan Liu<br>
        <hr>
        <b>Modeling Assistant's Autonomy Constraints as a Means for Improving Autonomous Assistant-Agent Design</b> <br>
        David Sarne, Nadav Lisovtsev<br>
        <hr>
        <b>Recoverable Team Formation: Building Teams Resilient to Change</b> <br>
        Emir Demirović, Nicolas Schwind, Tenda Okimoto, Katsumi Inoue<br>
        <hr>
        <b>Feasible Negotiation Procedures for Multiple Interdependent Negotiations</b> <br>
        Lei Niu, Fenghui Ren, Minjie Zhang<br>
        <hr>
        <b>Moral values in norm decision making</b> <br>
        Maite Lopez-Sanchez, Juan Antonio Rodriguez-Aguilar, Javier Morales, Michael Wooldridge, Marc Serramia, Carlos Ansotegui, Manel Rodriguez<br>
        <hr>
        <b>Strategyproof and fair matching mechanism for ratio constraints</b> <br>
        Kentaro Yahiro, Yuzhe Zhang, Nathanael Barrot, Makoto Yokoo<br>
        <hr>
        <b>Buyer-optimal distribution</b> <br>
        Yulong Zeng, Pingzhong Tang, Weiran Shen<br>
        <hr>
        <b>Automatic Synthesis of Efficient Regular Strategies in Adversarial Patrolling Games</b> <br>
        David Klaska, Antonin Kucera, Tomas Lamser, Vojtech Rehak<br>
        <hr>
        <b>Efficient Convention Emergence through Decoupled Reinforcement Social Learning with Teacher-Student Mechanism</b> <br>
        Yixi Wang, Jianye Hao, Ho-fung Leung, Jianguo Wei, Wenhuan Lu<br>
        <hr>
        <b>On Designing Optimal Data Purchasing Strategies for Online Ad Auctions</b> <br>
        ZUN LI, Zhenzhe Zheng, Fan Wu, Guihai Chen<br>
        <hr>
        <b>Epistemic Foundations for Generalised Planning with Nondeterminism</b> <br>
        Vaishak Belle<br>
        <hr>
        <b>Envy-Free Allocations Respecting Social Networks</b> <br>
        Robert Bredereck, Andrzej Kaczmarczyk, Rolf Niedermeier<br>
        <hr>
        <b>Revenue Maximization for Electric Vehicle Charging Service Providers using Sequential Dynamic Pricing</b> <br>
        Jan Mrkos, Antonín Komenda, Michal Jakob<br>
        <hr>
        <b>A Generalised Method for Empirical Game Theoretic Analysis</b> <br>
        Karl Tuyls, Julien Perolat, Marc Lanctot, Joel Leibo, Thore Graepel<br>
        <hr>
        <b>Local Envy-Freeness with Indivisible Goods</b> <br>
        Aur&eacute;lie Beynier, Laurent Gourves, Julien Lesca, Nicolas Maudet, Yann Chevaleyre, Anaëlle Wilczynski<br>
        <hr>
        <b>Fair resource allocation over time</b> <br>
        Bruno Escoffier, Evripidis Bampis, Sasa Mladenovic<br>
        <hr>
        <b>Diversified Strategies in Games: Learning and Properties</b> <br>
        Maria-Florina Balcan, Avrim Blum, Shang-Tse Chen<br>
        <hr>
        <b>Local Equilibria in Logic-Based Multi-Player Games</b> <br>
        Julian Gutierrez, Paul Harrenstein, Thomas Steeples, Michael Wooldridge<br>
        <hr>
        <b>Lenient Multi-Agent Deep Reinforcement Learning</b> <br>
        Gregory Palmer, Karl Tuyls, Rahul Savani, Daan Bloembergen<br>
        <hr>
        <b>Leveraging Statistical Multi-Agent Online Planning with Emergent Value Function Approximation</b> <br>
        Thomy Phan, Lenz Belzner, Thomas Gabor, Kyrill Schmid<br>
        <hr>
        <b>ComPAS: Community Preserving Sampling for Streaming Graphs</b> <br>
        Sandipan Sikdar, Tanmoy Chakraborty, Soumya Sarkar, Niloy Ganguly, Animesh Mukherjee<br>
        <hr>
        <b>Design of Influencing Agents to Aid Flock Formation in Low-Density Settings</b> <br>
        Daniel Y. Fu, Emily S. Wang, Peter Krafft, Barbara Grosz<br>
        <hr>
        <b>Learning and Updating User Models for Subpopulations in Persuasive Argumentation Using Beta Distributions</b> <br>
        Emmanuel Hadoux, Anthony Hunter<br>
        <hr>
        <b>Coordination of Electric Vehicle Aggregators: A Coalitional Approach</b> <br>
        Alvaro Perez-Diaz, Enrico Gerding, Frank McGroarty<br>
        <hr>
        <b>Sequential Allocation Rules are Separable: Refuting a Conjecture on Scoring-Based Allocation of Indivisible Goods</b> <br>
        Benno Kuckuck, Jörg Rothe<br>
        <hr>
        <b>Complexity of Shift Bribery in Iterative Elections</b> <br>
        Cynthia Maushagen, Marc Neveling, Jörg Rothe, Ann-Kathrin Selker<br>
        <hr>
        <b>Multi-player Flow Games</b> <br>
        Shibashis Guha, Orna Kupferman, Gal Vardi<br>
        <hr>
        <b>Shaping Opinion Dynamics in Social Networks</b> <br>
        Abir De, Sourangshu Bhattacharya, Niloy Ganguly<br>
        <hr>
        <b>Pooling or Sampling: Collective Dynamics for Electrical Flow Estimation</b> <br>
        Luca Becchetti, Vincenzo Bonifaci, Emanuele Natale<br>
        <hr>
        <b>Stability in Barter Exchange Markets</b> <br>
        Fahad Panolan, Sushmita Gupta, Saket Saurabh, Meirav Zehavi<br>
        <hr>
        <b>Behavior Model Calibration for Epidemic Simulations</b> <br>
        Meghendra Singh, Achla Marathe, Samarth Swarup, Madhav Marathe<br>
        <hr>
        <b>Industry 4.0: Repurposing Manufacturing Lines On-the-fly with Multi-agent Systems for the Web of Things</b> <br>
        Andrei Ciortea, Simon Mayer, Florian Michahelles<br>
        <hr>
        <b>Burn-In Demonstrations for Multi-Modal Imitation Learning</b> <br>
        Alex Kuefler, Mykel Kochenderfer<br>
        <hr>
        <b>Conflict-Based Search with Optimal Task Assignment</b> <br>
        Wolfgang Hoenig, Scott Kiesel, Andrew Tinka, Joseph Durham, Nora Ayanian<br>
        <hr>
        <b>Learning with Opponent-Learning Awareness</b> <br>
        Jakob Foerster, Richard Chen, Maruan Al-Shedivat, Shimon Whiteson, Pieter Abbeel, Igor Mordatch<br>
        <hr>
        <b>Training Dialogue Systems With Human Advices</b> <br>
        Merwan Barlier, Olivier Pietquin, Romain Laroche<br>
        <hr>
        <b>Market making via reinforcement learning</b> <br>
        Thomas Spooner, John Fearnley, Rahul Savani, Andreas Koukorinis<br>
        <hr>
        <b>A Formalism and an Algorithm for HTN Acting</b> <br>
        Lavindra de Silva<br>
        <hr>
        <b>Adversarial Classification on Social Networks</b> <br>
        Sixie Yu, Yevgeniy Vorobeychik, Scott Alfeld<br>
        <hr>
        <b>CrowdEval: A Cost-Efficient Strategy to Evaluate Crowdsourced Workers’ Reliability</b><br>
        Chenxi Qiu, Anna Squicciarini, Dev Khare, Barbara Carminati, James Caverlee
        <hr>
        <b>Combating Behavioral Deviance via User Behavior Control</b> <br>
        Chenxi Qiu, Anna Squicciarini, Christopher Griffin, Prasanna Umar<br>
        <hr>
        <b>Inferring Commitment Semantics in Multi-Agent Interactions</b> <br>
        Paula Chocron, Marco Schorlemmer<br>
        <hr>
        <b>Eligibility Traces for Options</b> <br>
        Ayush Jain, Doina Precup<br>
        <hr>
        <b>Expertise Drift in Referral Networks</b> <br>
        Ashiqur KhudaBukhsh, Jaime Carbonell<br>
        <hr>
        <b>Deep Abstract Q-Networks</b> <br>
        Melrose Roderick, Christopher Grimm, Stefanie Tellex<br>
        <hr>
        <b>Deep Learning for Revenue-Optimal Auctions with Budgets</b> <br>
        Zhe Feng, Harikrishna Narasimhan, David Parkes<br>
        <hr>
        <b>Testing Phase Space Properties of Synchronous Dynamical Systems with Nested Canalyzing Local Functions</b> <br>
        S. S. Ravi, Daniel Rosenkrantz, Madhav Marathe, Richard Stearns<br>
        <hr>
        <b>Event-Based and Scenario-Based Causality for Computational Ethics</b> <br>
        Fiona Berreby, Gauvain Bourgne, Jean-Gabriel Ganascia<br>
        <hr>
        <b>Judgment Aggregation with Rationality and Feasibility Constraints</b> <br>
        Ulle Endriss<br>
        <hr>
        <b>Capacity-aware Sequential Recommendations</b> <br>
        Frits de Nijs, Georgios Theocharous, Nikos Vlassis, Mathijs de Weerdt, Matthijs Spaan<br>
        <hr>
        <b>Multi-Agent Distributed Lifelong Learning for Collective Knowledge Acquisition</b> <br>
        Mohammad Rostami, Soheil Kolouri, Kyungnam Kim, Eric Eaton<br>
        <hr>
        <b>Voting with Ties: Strong Impossibilities via SAT Solving</b> <br>
        Felix Brandt, Christian Saile, Christian Stricker<br>
        <hr>
        <b>Coordination and Common Knowledge on Communication Networks</b> <br>
        Gizem Korkmaz, Monica Capra, Adriana Kraig, Chris Kuhlman, Kiran Lakkaraju, Fernando Vega-Redondo<br>
        <hr>
        <b>Deceiving Cyber Adversaries: A Game Theoretic Approach</b> <br>
        Aaron Schlenker, Milind Tambe, Long Tran-Thanh, Phebe Vayanos, Yevgeniy Vorobeychik, Omkar Thakoor, Haifeng Xu, Fei Fang<br>
        <hr>
        <b>Parity-energy ATL for qualitative and quantitative reasoning in MAS</b> <br>
        Dario Della Monica, Aniello Murano<br>
        <hr>
        <b>Distributed Strategy Adaptation with a Prediction Function in Multi-Agent Task Allocation</b> <br>
        Joanna Turner, Qinggang Meng, Gerald Schaefer, Andrea Soltoggio<br>
        <hr>
        <b>Teaching Multiple Tasks to an RL Agent using LTL</b> <br>
        Rodrigo Toro Icarte, Toryn Klassen, Richard Valenzano, Sheila McIlraith<br>
        <hr>
        <b>Discovering Blind Spots in Reinforcement Learning</b> <br>
        Ramya Ramakrishnan, Ece Kamar, Debadeepta Dey, Julie Shah, Eric Horvitz<br>
        <hr>
        <b>Crossmodal Attentive Skill Learner</b> <br>
        Shayegan Omidshafiei, Dong-Ki Kim, Jason Pazis, Jonathan How<br>
        <hr>
        <b>Adversary models account for imperfect crime data: Forecasting and planning against real-world poachers</b> <br>
        Shahrzad Gholami, Milind Tambe, Sara Mc Carthy, Bistra Dilkina, Andrew Plumptre, Margaret Driciru, Fred Wanyama, Aggrey Rwetsiba, Mustapha Nsubaga, Joshua Mabonga, Eric Enyel, Tom Okello<br>
        <hr>
        <b>Real-time Prediction of Intermediate-horizon Automotive Collision Risk</b> <br>
        Blake Wulfe, Mykel Kochenderfer, Sunil Chintakindi, Sou Cheng Choi, Rory Hartong-Redden, Anuradha Kodali<br>
        <hr>
        <b>A Closed-Form Characterization of Buyer Signaling Schemes in Monopoly Pricing</b> <br>
        Weiran Shen, Pingzhong Tang, Yulong Zeng<br>
        <hr>
        <b>Utility Decomposition with Deep Corrections for Scalable Planning under Uncertainty</b> <br>
        Maxime Bouton, Kyle Julian, Alireza Nakhaei, Kikuo Fujimura, Mykel Kochenderfer<br>
        <hr>
        <b>Coalitional Permutation Manipulations in the Gale-Shapley Algorithm</b> <br>
        Weiran Shen, Pingzhong Tang, Yuan Deng<br>
        <hr>
        <b>Clustering Behavior to Recognize Subjective Beliefs in Human-Agent Teams</b> <br>
        David Pynadath, Ning Wang<br>
        <hr>
        <b>A Stitch in Time - Autonomous Model Management via Reinforcement Learning</b> <br>
        Elad Liebman, Eric Zavesky, Peter Stone<br>
        <hr>
        <b>Three body problems in evolutionary game dynamics: Convergence, Periodicity and Limit Cycles</b> <br>
        Sai Ganesh, Sameh Mohamed, Georgios Piliouras<br>
        <hr>
        <b>Defender Stackelberg Game with Inverse Geodesic Length as Utility Metric</b> <br>
        Haris Aziz, Serge Gaspers, Edward Lee, Kamran Najeebullah<br>
        <hr>
        <b>Ordered Preference Elicitation Strategies for Supporting Multi-Objective Decision Making</b> <br>
        Luisa Zintgraf, Diederik Roijers, Sjoerd Linders, Catholijn Jonker, Ann Nowe<br>
        <hr>
        <b>Cost-Free Advertising for Selling Multiple Items in Social Networks</b> <br>
        Dengji Zhao, Bin Li, Junping Xu, Dong Hao<br>
        <hr>
        <br>
    <h4><u>Extended Abstracts</u></h4>
    <br>
        <b>Protecting Election from Bribery: New Approach and Computational Complexity Characterization</b> <br>
        Lin Chen, Lei Xu, Nolan Shah, Yang Lu, Shouhuai Xu, Weidong Shi, Zhimin Gao<br>
        <hr>
        <b>Methods for Joining and Leaving a Flock</b> <br>
        Katie Genter, Peter Stone<br>
        <hr>
        <b>Graph theoretical properties of logic based argumentation frameworks</b> <br>
        Bruno Yun, Madalina Croitoru, Pierre Bisquert, Srdjan Vesic<br>
        <hr>
        <b>The Dynamic Maximum Coverage Problem, Towards Multi-Agent Coverage Systems Capable of Goal-Driven Planning and Tight Coordination</b> <br>
        Loïs Vanhée, Laurent Jeanpierre, Abdel-Illah Mouaddib<br>
        <hr>
        <b>A Kinetic Model of the Dynamics of Compromise in Large Multi-Agent Systems</b> <br>
        Stefania Monica, Federico Bergenti<br>
        <hr>
        <b>Service-Oriented Robot Software Development Framework for Distributed Heterogeneous Platforms</b> <br>
        Hyesun Hong, Hanwoong Jung, KangKyu Park, Yeonggyo Yoon, Soonhoi Ha<br>
        <hr>
        <b>Introspective Reinforcement Learning and Learning from Demonstration</b> <br>
        Mao Li, Tim Brys, Daniel Kudenko<br>
        <hr>
        <b>A Differential Privacy Mechanism with Network Effects for Crowdsourcing Systems</b> <br>
        Yuan Luo, Nick Jennings<br>
        <hr>
{#        <b>On the Design of Revenue-Enhancing Signal Structures in Common- and Interdependent-Value Second Price Auctions</b> <br>#}
{#        Zhuoshu Li, Sanmay Das<br>#}
{#        <hr>#}
        <b>Decidable Verification of Multi-agent Systems with Bounded Private Actions</b> <br>
        Francesco Belardinelli, Alessio Lomuscio, Aniello Murano, Sasha Rubin<br>
        <hr>
        <b>An Argumentation-based Conversational Recommender System for Recommending Learning Objects</b> <br>
        Javier Palanca Cámara, Vicente Julian, Stella Heras, Paula Rodríguez, Néstor Duque<br>
        <hr>
        <b>Gaussian process vector calculus for identifying sources and sinks in the presence of multiple agents</b> <br>
        Adam Cobb, Stephen Roberts, Andrew Markham<br>
        <hr>
        <b>Is Novelty Search Good for Evolving Controllers Robust across Robot Morphologies?</b> <br>
        Geoff Nitschke<br>
        <hr>
        <b>Value-Decomposition Networks For Cooperative Multi-Agent Learning Based on Team Reward</b> <br>
        Peter Sunehag, Guy Lever, Audrunas Gruslys, Wojtek Czarnecki, Vinicius Zambaldi, Max Jaderberg, Nicolas Sonnerat, Marc Lanctot, Joel Leibo, Karl Tuyls, Thore Graepel<br>
        <hr>
        <b>GEESE: Grammatical Evolution Algorithm for Evolution of Swarm Behaviors</b> <br>
        Aadesh Neupane, Michael A. Goodrich, Eric G. Mercer<br>
        <hr>
        <b>Multi-Objective Distributed Pseudo-tree Optimization</b> <br>
        Maxime CLEMENT, Tenda Okimoto, Katsumi Inoue<br>
        <hr>
        <b>Efficient Auctions with Identity-Dependent Mixed Externalities</b> <br>
        Chaoli Zhang, Xiang Wang, Fan Wu, Xiaohui Bei<br>
        <hr>
        <b>Multiplex Network Structure Enhances the Role of Generalized Reciprocity in Promoting Cooperation</b> <br>
        Viktor Stojkoski, Zoran Utkovski, Elisabeth Andre, Ljupco Kocarev<br>
        <hr>
{#        <b>Equilibrium Behavior in Competing Dynamic Matching Markets</b> <br>#}
{#        Zhuoshu Li, Neal Gupta, Sanmay Das, John P. Dickerson<br>#}
{#        <hr>#}
        <b>Preference-Guided Planning: An Active Elicitation Approach</b> <br>
        Mayukh Das, Phillip Odom, Md. Rakibul Islam, Janardhan Rao, Dan Roth, Sriraam Natarajan<br>
        <hr>
        <b>Complexity of Scheduling Charging in the Smart Grid</b> <br>
        Mathijs de Weerdt, Michael Albert, Vincent Conitzer, Koos van der Linden<br>
        <hr>
        <b>Recognising Assumption Violations in Autonomous Systems Verification</b> <br>
        Louise Dennis, Angelo Ferrando, Davide Ancona, Michael Fisher, Viviana Mascardi<br>
        <hr>
        <b>Rapid Randomized Restarts for Multi-Agent Path Finding Solvers</b> <br>
        Liron Cohen, Glenn Wagner, David Chan, T. K. Satish Kumar, Nathan Sturtevant, Howie Choset, Sven Koenig<br>
        <hr>
        <b>An Axiomatic View of the Parimutuel Consensus Wagering Mechanism</b> <br>
        Rupert Freeman, David Pennock<br>
        <hr>
        <b>Action Categorization for Computationally Improved Task Learning and Planning</b> <br>
        Lakshmi Nair, Sonia Chernova<br>
        <hr>
        <b>Gossip Gradient Descent</b> <br>
        Yang Liu, Ji Liu, Tamer Basar<br>
        <hr>
        <b>Complexity of Controlling Nearly Single-Peaked Elections Revisited</b> <br>
        Yongjie Yang<br>
        <hr>
        <b>Trust Network-based Spam Worker Identification in Crowdsourcing Environments</b> <br>
        BIN YE, Yan Wang, Mehmet Orgun<br>
        <hr>
        <b>Parameterized Complexity of Multiwinner Determination: An Effort Towards Fixed-Parameter Tractability</b> <br>
        Yongjie Yang, Jianxin Wang<br>
        <hr>
        <b>An Optimal Algorithm for the Bandits with Knowing Near-optimal Mean Reward</b> <br>
        Shandong Yang, Yang Gao, Xingguo Chen, Hao Wang, Chenyu Zhang<br>
        <hr>
        <b>Making Room for Refugees: Agent-Based Simulation of West Asian Urban Dynamics</b> <br>
        Stefano Picascia, Ali Termos, Neil Yorke-Smith<br>
        <hr>
        <b>Individual Security and Network Design with Malicious Nodes</b> <br>
        Tomasz Janus, Mateusz Skomra, Marcin Dziubiński<br>
        <hr>
        <b>The Curse of Ties in Congestion Games with Limited Lookahead</b> <br>
        Carla Groenland, Guido Schaefer<br>
        <hr>
        <b>Socially Motivated Partial Cooperation in Multi-agent Local Search</b> <br>
        Tal Ze'evi, Roie Zivan, Omer Lev<br>
        <hr>
        <b>Prosocial learning agents solve generalized Stag Hunts better than selfish ones</b> <br>
        Alexander Peysakhovich, Adam Lerer<br>
        <hr>
        <b>On the Impact of Buyers Preselection in Pricing Problems</b> <br>
        Vittorio Bilò, Michele Flammini, Gianpiero Monaco, Luca Moscardelli<br>
        <hr>
        <b>On the Weakness of Strong Stackelberg Equilibrium for Security Games</b> <br>
        Qingyu Guo, Jiarui Gan, Fei Fang, Long Tran-Thanh, Milind Tambe, Bo An<br>
        <hr>
        <b>Distributed Collaborative Reasoning for Human Activity Recognition in Smart Homes</b> <br>
        Amina Jarraya, Amel Bouzeghoub, Amel Borgi, Khedija Arour<br>
        <hr>
        <b>A Large Neighboring Search Schema for Multi-Agent Optimization</b> <br>
        Khoi D. Hoang, Ferdinando Fioretto, William Yeoh, Enrico Pontelli, Roie Zivan<br>
        <hr>
        <b>Intolerance does not necessarily lead to segregation: a computer-aided analysis of the Schelling Segregation Model</b> <br>
        Alexander Carver, Paolo Turrini<br>
        <hr>
        <b>PELTE: Privacy Estimation of Images from Tags</b> <br>
        Abdurrahman Can Kurtan, Pinar Yolum<br>
        <hr>
        <b>Multi-Agent Norm Learning from Observations</b> <br>
        Vasanth Sarathy, Giordano Ferreira, Matthias Scheutz<br>
        <hr>
        <b>Eliciting Truthful Unverifiable Information</b> <br>
        Shani Alkoby, David Sarne, Erel Segal-Halevi, Tomer Sharbaf<br>
        <hr>
        <b>Trial without Error: Towards Safe Reinforcement Learning via Human Intervention</b> <br>
        William Saunders, Girish Sastry, Andreas Stuhlmuller, Owain Evans<br>
        <hr>
        <b>Foresee: Attentive Future Projections of Chaotic Road Environments with Online Training</b> <br>
        Anil Sharma, Arun Balaji Buduru<br>
        <hr>
        <b>Modeling Consecutive Task Learning with Task Graph Agendas</b> <br>
        David Isele, Eric Eaton, Mark Roberts, David Aha<br>
        <hr>
        <b>PANO: Privacy Auctioning for Online Social Networks</b> <br>
        Onuralp Ulusoy, Pinar Yolum<br>
        <hr>
        <b>Robust Deep Reinforcement Learning with Adversarial Attacks</b> <br>
        Anay Pattanaik, Shuijing Liu, Zhenyi Tang, Gautham Bommannan, Girish Chowdhary<br>
        <hr>
        <b>CityScope Andorra: A multi-level interactive and tangible agent-based visualization</b> <br>
        Arnaud Grignard, Nuria Macia, Luis Alonso, Ariel Noyman, Yan Zhang, Marc Vilella, Kent Larson<br>
        <hr>
        <b>Overlapping Coalition Formation via Probabilistic Topic Modeling</b> <br>
        Michalis Mamakos, Georgios Chalkiadakis<br>
        <hr>
        <b>AgentSpeak(ER): An Extension of AgentSpeak(L) improving Encapsulation and Reasoning about Goals</b> <br>
        Alessandro Ricci, Rafael H. Bordini, Rem Collier, Jomi Fred Hubner<br>
        <hr>
        <b>A Study of AI Population Dynamics with Million-agent Reinforcement Learning</b> <br>
        Yaodong Yang, Yiwei Bai, Jun Wang, Ying Wen, Lantao Yu, Weinan Zhang, Yong Yu<br>
        <hr>
        <b>Robust Multi-Agent Path Finding</b> <br>
        Dor Atzmon, Roni Stern, Ariel Felner, Roman Barták, Glenn Wagner, Neng-Fa Zhou<br>
        <hr>
        <b>Incorporating Chorus Line Effect into A Cucker-Smale System for Fast Manoeuvre Tracking</b> <br>
        Jing Ma, Edmund M-K Lai<br>
        <hr>
        <b>Resisting Exploitation Through Rewiring In Social Networks: How Parity, Sympathy and Reciprocity Can Increase Social Welfare</b> <br>
        Sandip Sen, Chad Crawford, Rachna Nandakumar<br>
        <hr>
        <b>When less is more: Reducing agent noise with probabilistically learning agents</b> <br>
        Jen Jen Chung, Scott Chow, Kagan Tumer<br>
        <hr>
        <b>A Memory-based Multiagent Framework for Adaptive Decision Making</b> <br>
        Shauharda Khadka, Connor Yates, Kagan Tumer<br>
        <hr>
        <b>Multi-Agent Path Finding with Deadlines</b> <br>
        Hang Ma, Glenn Wagner, Ariel Felner, Jiaoyang Li, T. K. Satish Kumar, Sven Koenig<br>
        <hr>
        <b>Interpretable Robust Decision Making</b> <br>
        Hal Cooper, Garud Iyengar, Ching-Yung Lin<br>
        <hr>
{#        <b>Practical Scalability for Stackelberg Security Games</b> <br>#}
{#        Arunesh Sinha, Aaron Schlenker, Donnabell Dmello, Milind Tambe<br>#}
{#        <hr>#}
        <b>Argumentation with Goals for Clinical Decision Support in Multimorbidity</b> <br>
        Tiago Oliveira, Jérémie Dauphin, Ken Satoh, Shusaku Tsumoto<br>
        <hr>
        <b>Enhanced Delta-tolling:  Traffic Optimization via Policy Gradient Reinforcement Learning</b> <br>
        Hamid Mirzaei Buini, Guni Sharon, Stephen Boyles, Tony Givargis, Peter Stone<br>
        <hr>
        <b>Surrogate Difference Evaluations with Limited Peer to Peer Communications</b> <br>
        Steven King, adarsh kesireddy, Scott Forer, Logan Yliniemi<br>
        <hr>
        <b>Learning Agents in Financial Markets: Consensus Dynamics on Volatility</b> <br>
        Tushar Vaidya, Carlos Murguia, Georgios Piliouras<br>
        <hr>
        <b>Neither dumb nor optimal: plausible wayfinding in pedestrian agent-based models</b> <br>
        Giuseppe Vizzari, Luca Crociani, Stefania Bandini<br>
        <hr>
        <b>Opponent Modeling in Data Collection Game using Deep Reinforcement Learning</b> <br>
        Zhi Xing, Jae Oh<br>
        <hr>
        <b>Solving the Synergistic Team Formation Problem</b> <br>
        Ewa Andrejczuk, Juan Antonio Rodriguez-Aguilar, Filippo Bistaffa, Carles Sierra, Christian Blum<br>
        <hr>
        <b>Mitigating the Curse of Correlation in Security Games by Entropy Maximization</b> <br>
        Haifeng Xu, Shaddin Dughmi, Milind Tambe, Venil Loyd Noronha<br>
        <hr>
        <b>The Dynamics of Opinion Evolution in Gossiper-Media Model with WoLS-CALA Learning</b> <br>
        Chengwei Zhang, Jianye Hao, Xiaohong Li, Sandip Sen, Wanli Xue<br>
        <hr>
        <b>Timing Rating Requests for Maximizing Obtained Rating</b> <br>
        Guy Cohen, David Sarne<br>
        <hr>
        <b>SCC-rFMQ learning in Cooperative Markov Games with Continuous Actions</b> <br>
        Chengwei Zhang, Jianye Hao, Xiaohong Li, Siqi Chen, Karl Tuyls<br>
        <hr>
        <b>Formalising Oughts and Practical Knowledge without Resorting to Action Types</b> <br>
        Jan Broersen, Aldo Iván Ramírez Abarca<br>
        <hr>
        <b>Adaptive Incentive Selection for Crowdsourcing Contests</b> <br>
        Nhat Truong, Sebastian Stein, Long Tran-Thanh, Nick Jennings<br>
        <hr>
        <b>Balanced outcomes in wage bargaining</b> <br>
        Pingzhong Tang, Dingli Yu<br>
        <hr>
        <b>Resource Logics with a Diminishing Resource</b> <br>
        Natasha Alechina, Brian Logan<br>
        <hr>
        <b>Combining Prediction of Human Decisions with ISMCTS in Imperfect Information Games</b> <br>
        Moshe Bitan, Sarit Kraus<br>
        <hr>
        <b>SMT-Based Diagnosis of Multi-Agent Temporal Plans</b> <br>
        Gianluca Torta, Roberto Micalizio<br>
        <hr>
        <b>Deep Multiagent Q-Learning for Autonomous Agents in Future Smart Grid</b> <br>
        Yaodong Yang, Jianye Hao, Mingyang Sun, Zan Wang, Goran Strbac<br>
        <hr>
        <b>Evolving Coverage Behaviours For MAVs Using NEAT</b> <br>
        James Butterworth, Bastian Broecker, Karl Tuyls, Paolo Paoletti<br>
        <hr>
        <b>Planning Using a Portfolio of Reduced Models with Cost Adjustments</b> <br>
        Sandhya Saisubramanian, Shlomo Zilberstein, Prashant Shenoy<br>
        <hr>
        <b>The generalized N&amp;K value, an axiomatic mechanism for electricity trading</b> <br>
        Mark Burgess, Archie Chapman, Paul Scott<br>
        <hr>
        <b>Addressing Concept Drift in Reputation Assessment</b> <br>
        Caroline Player, Nathan Griffiths<br>
        <hr>
        <b>Guiding Reinforcement Learning Exploration Using Natural Language</b> <br>
        Brent Harrison, Mark Riedl, Upol Ehsan<br>
        <hr>
        <b>How Bad is Selfish Doodle Voting?</b> <br>
        Barbara Anthony, Christine Chung<br>
        <hr>
        <b>Learning-Aware Human-Centered Collaborative Task Assignment in Open Environments</b> <br>
        Adam Eck, Leen-Kiat Soh, Bin Chen<br>
        <hr>
        <b>Detection of Intelligent Agent Behaviors using Markov Chains</b> <br>
        Riccardo Sartea, Alessandro Farinelli<br>
        <hr>
        <b>Agent Strategies for Hide and Seek Game</b> <br>
        Akshat Tandon, Kamalakar Karlapalem<br>
        <hr>
        <b>Trend-Following Trading Strategies and Financial Market Stability</b> <br>
        Erik Brinkman, Michael Wellman, Uday Rajan<br>
        <hr>
        <b>Collective Adaptation through Concurrent Planning: The Case of Sustainable Urban Mobility</b> <br>
        Antonio Bucchiarone, Fahmida Khandokar, Daniel Furelos, Anders Jonsson, Monjur Mourshed<br>
        <hr>
        <b>Probabilistic Verification for Obviously Strategyproof Mechanisms</b> <br>
        Diodato Ferraioli, Carmine Ventre<br>
        <hr>
        <b>Evaluating Generalization In Multiagent Systems using Agent-Interaction Graphs</b> <br>
        Aditya Grover, Maruan Al-Shedivat, Jayesh Gupta, Yura Burda, Harrison Edwards<br>
        <hr>
        <b>Learning Game-theoretic Models from Aggregate Behavioral Data with Applications to Vaccination Rates in Public Health</b> <br>
        Hau Chan, Luis Ortiz<br>
        <hr>
        <b>Symbolic Dynamic Programming for Risk-sensitive Markov Decision Process with limited budget</b> <br>
        Daniel A. de Melo Moreira, Karina V. Delgado, Leliane Nunes de Barros<br>
        <hr>
        <b>From Individual Goals to Collective Decisions</b> <br>
        Arianna Novaro, Umberto Grandi, Dominique Longin, Emiliano Lorini<br>
        <hr>
        <b>RAIL: Risk-Averse Imitation Learning</b> <br>
        Anirban Santara, Abhishek Naik, Balaraman Ravindran, Dipankar Das, Dheevatsa Mudigere, Sasikanth Avancha, Bharat Kaul<br>
        <hr>
        <b>One-Shot Learning using Mixture of Variational Autoencoders: a Generalization Learning approach</b> <br>
        Decebal Constantin Mocanu, Elena Mocanu<br>
        <hr>
        <b>FActCheck: Keeping Activation of Fake News at Check</b> <br>
        Ajitesh Srivastava, Rajgopal Kannan, Charalampos Chelmis, Viktor K. Prasanna<br>
        <hr>
        <b>Towards Online Goal Recognition Combining Goal Mirroring and Landmarks</b> <br>
        Mor Vered, Ramon Fraga Pereira, Maurício Cecílio Magnaguagno, Felipe Meneguzzi, Gal Kaminka<br>
        <hr>
        <b>Industrial Symbiotic Networks as Coordinated Games</b> <br>
        Vahid Yazdanpanah, Devrim Murat Yazan, W. Henk M. Zijm<br>
        <hr>
        <b>Real-time Machine Learning Prediction of an Agent-Based Model for Urban Decision-making</b> <br>
        Yan Zhang, Arnaud Grignard, Kevin Lyons, Alexander Aubuchon, Kent Larson<br>
        <hr>
        <b>Analyzing the Effect of Information Stagnancy on the Distributed Stochastic Algorithm</b> <br>
        Saeid Samadidana, Roger Mailler<br>
        <hr>
        <b>How Implicit Communication Emerges during Conversation Game</b> <br>
        Bohao Wang, Hirotaka Osawa, Ken Satoh<br>
        <hr>
        <b>A simple and efficient algorithm to compute epsilon-equilibria of discrete Colonel Blotto games</b> <br>
        Patrick Loiseau, Alonso Silva, Dong Quan Vu<br>
        <hr>
        <b>Fairness in multiagent resource allocation with dynamic and partial observations</b> <br>
        Aur&eacute;lie Beynier, Nicolas Maudet, Anastasia Damamme<br>
        <hr>
        <b>Dynamic Traveling Repairmen Bounty Hunters</b> <br>
        Drew Wicke, Ermo Wei, Sean Luke<br>
        <hr>
        <b>An Agent-Based Traffic Signal Timing System for Alleviating Urban Traffic Congestion</b> <br>
        Behnam Torabi, Rym Wenkstern, Robert Saylor<br>
        <hr>
        <b>Algorithms to Manage Load Shedding Events in Developing Countries</b> <br>
        Olabambo Oluwasuji, Sarvapali Ramchurn, Malik Obaid, Jie Zhang<br>
        <hr>
        <b>Nash equilibrium computation in resource allocation games</b> <br>
        Shivam Gupta, Ruta Mehta<br>
        <hr>
        <b>Characterizing the Limits of Autonomous Systems</b> <br>
        Junzhe Zhang, Elias Bareinboim<br>
        <hr>
        <b>Execution Skill Estimation</b> <br>
        Delma Nieves-Rivera, Christopher Archibald<br>
        <hr>
        <b>Zero Shot Transfer Learning for Robot Soccer</b> <br>
        Devin Schwab, Yifeng Zhu, Manuela Veloso<br>
        <hr>
        <b>A Geometric Least Squares Method for Peer Assessment</b> <br>
        Mingyu Xiao, Yuqing Wang, Binglin Tao<br>
        <hr>
        <b>Recognizing Plans by Learning Embeddings from Observed Action Distributions</b> <br>
        Yantian Zha, Yikang Li, Sriram Gopalakrishnan, Baoxin Li, Subbarao Kambhampati<br>
        <hr>
        <b>Designing Incentives to Maximize the Adoption of Rooftop Solar Technology</b> <br>
        Aparna Gupta, Ryan Graham, Samarth Swarup, Kiran Lakkaraju, Joshua Letchford, Achla Marathe, Anil Vullikanti<br>
        <hr>
        <b>Bi-Directional Information Exchange in Decentralized Schedule-Driven Traffic Control</b> <br>
        Hsu-Chieh Hu, Stephen Smith<br>
        <hr>
        <b>Online Multi-Robot Coverage: Evaluating Assumptions and Metrics</b> <br>
        Elizabeth Jensen, Maria Gini<br>
        <hr>
        <b>Minimax-Regret Querying on Side Effects for Safe Optimality in Factored Markov Decision Processes</b> <br>
        Shun Zhang, Edmund Durfee, Satinder Singh<br>
        <hr>
        <b>Leveraging Observational Learning for Exploration in Bandits</b> <br>
        Andrei Lupu, Audrey Durand, Doina Precup<br>
        <hr>
        <b>Bidding Strategies for Periodic Double Auctions Using Monte Carlo Tree Search</b> <br>
        Moinul Morshed Porag Chowdhury, Christopher Kiekintveld, Son Tran, William Yeoh<br>
        <hr>
        <b>Ex-post IR dynamic auctions with cost-per-action payments</b> <br>
        Weiran Shen, Zihe Wang, Song Zuo<br>
        <hr>
        <b>StarCraft as a Testbed for Engineering Complex Distributed Systems Using Cognitive Agent Technology</b> <br>
        Vincent Koeman, Harm Griffioen, Danny Plenge, Koen Hindriks<br>
        <hr>
        <b>Optimal Multiphase Investment Strategies for Influencing Opinions in a Social Network</b> <br>
        Swapnil Dhamal, Walid Ben-Ameur, Tijani Chahed, Eitan Altman<br>
        <hr>
        <b>Using Distributed Ledger Technology for Shareholder Rights Management</b> <br>
        Grammateia Kotsialou, Luke Riley, Amrita Dhillon, Toktam Mahmoodi, Peter McBurney, Paul Massey, Richard Pearce<br>
        <hr>
    </div>
{% endblock %}