{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <div>
        <h3><u>Accomodation</u></h3>

            <p>It is strongly recommended to book an accommodation as soon
            as possible. Although most Swedish people will be on vacation in July,
            Stockholm is full of tourists. Stockholm offers a full range of hotel rooms
            ranging from high-end 5-star hotels to really cheap hostels. </p>

            <p>
            The official FAIM room block at a number of hotels is now closed. If, however, you still do not have a room
            reservation, as a service to you, we are providing this link below, to assist you with finding a room, in the
            area:
            Click Here: Book a new room reservation for <a href="https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fapp.groupize.com%2Fe%2Fprogram-name-federated-ai-conference-stockholm-sweden&data=02%7C01%7Cayan.mukhopadhyay%40vanderbilt.edu%7C709aeb0b71794591e4ec08d5d51079f0%7Cba5a7f39e3be4ab3b45067fa80faecad%7C0%7C0%7C636649189120825394&sdata=pLGp4qr527L44YqxcsAH4l%2BvN5eJ1RLvw%2FEsbX7ygd8%3D&reserved=0">FAIM</a>
            </p>
{#            <p>Federated AI Meeting (FAIM) as a joint event has contracted guest rooms at discounted pricing at different#}
{#            hotels in Stockholm.  Reserve your accommodations early for the best chance of getting your first choice.#}
{#            We urge you to please make your reservations at the designated hotels and through the link below.#}
{#            Making your reservations through these links and by staying at these official conference hotels helps us to#}
{#            keep costs low and protect our joint conference. </p>#}
{##}
{#            <p><a href="https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fbook.passkey.com%2Fe%2F49566506&data=02%7C01%7Cayan.mukhopadhyay%40vanderbilt.edu%7C2086152c10d54eb878fe08d58d838a1c%7Cba5a7f39e3be4ab3b45067fa80faecad%7C0%7C0%7C636570518470621064&sdata=xZIYYGhRKz9WayjZhcQvG45AIShvM2ZUhak92QGFmpY%3D&reserved=0">Click here to book your stay: Stockholm - 2018</a></p>#}
    </div>

{% endblock %}