{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div>
        <h3><u>ACM SIGAI Autonomous Agents Research Award 2018</u></h3>
    <br>
    <div class="row">
            <div class="col-sm-3">
                <img id="aij" src="{% static "images/craig2.jpg" %}" height="250" width="190">
            </div>
            <div class="col-sm-9">
                <h5><u>Dr. Craig Boutilier</u></h5>
                <br>
                The selection committee for the ACM/SIGAI Autonomous Agents Research Award is pleased to announce that
                Dr. Craig Boutilier, Principal Research Scientist at Google, is the recipient of the 2018 award. Over the
                years, Dr. Boutilier has made seminal contributions to research on decision-making under uncertainty, game
                theory, and computational social choice. He is a pioneer in applying decision-theoretic concepts in novel
                ways in a variety of domains including (single- and multi-agent) planning and reinforcement learning,
                preference elicitation, voting, matching, facility location, and recommender systems. His recent research
                continues to significantly influence the field of computational social choice through the novel computational
                and methodological tools he introduced and his focus on modeling realistic preferences. In addition to his
                reputation for outstanding research, Dr. Boutilier is also recognized as an exceptional teacher and mentor.
            </div>
    </div>
{#    Nominations are solicited for the 2018 ACM SIGAI Autonomous Agents Research Award. This award is made for excellence#}
{#    in research in the area of autonomous agents. It is intended to recognize researchers in autonomous agents whose#}
{#    **current work** is an important influence on the field. The award is an official ACM award, funded by an endowment#}
{#    created by ACM SIGAI from the proceeds of previous Autonomous Agents conferences. The recipient of the award will#}
{#    receive a monetary prize and a certificate, and will be invited to present a plenary talk at the AAMAS 2018#}
{#    conference in Stockholm, Sweden.#}
{#    <br>#}
{#    Previous winners of the ACM SIGAI Autonomous Agents Research Award are: David Parkes (2017), Peter Stone (2016),#}
{#    Catherine Pelachaud (2015), Michael Wellman (2014), Jeff Rosenschein (2013), Moshe Tennenholtz (2012), Joe Halpern#}
{#    (2011), Jonathan Gratch and Stacy Marsella (2010), Manuela Veloso (2009), Yoav Shoham (2008), Sarit Kraus (2007),#}
{#    Michael Wooldridge (2006), Milind Tambe (2005), Makoto Yokoo (2004), Nicholas R. Jennings (2003), Katia Sycara#}
{#    (2002), and Tuomas Sandholm (2001). For more information on the award, see the Autonomous Agents Research Award#}
{#    page (<a href="http://sigai.acm.org/awards/autonomous_agents_award.html">http://sigai.acm.org/awards/autonomous_agents_award.html</a>)#}
{##}
{#    <h5><u><b>How to nominate</b></u></h5>#}
{##}
{#    Anyone can make a nomination. Nominations should be made by email to the chair of the award committee, Jeff Rosenschein#}
{#    (<a href="mailto:jeff@cs.huji.ac.il">jeff@cs.huji.ac.il</a>), and should consist of a short#}
{#    (< 1 page) statement that emphasizes not only the research contributions that the individual has made that merit the#}
{#    award but also how the individual’s **current work** is an important influence on the field.#}
{##}
{#    <br>#}
{#    NOTE: a candidate can only be considered for the award if they are explicitly nominated. If you believe that someone#}
{#    deserves the award, then NOMINATE THEM -- don't assume that somebody else will!#}
{##}
{#    <h5><u><b>Important Dates</b></u></h5>#}
{#    <ul>#}
{#        <li>17 January 2018 -- Deadline for nominations#}
{#        <li>7 February 2018 -- Announcement of 2017 winner#}
{#        <li>10-15 July 2018 -- AAMAS-2018 conference in Stockholm#}
{#    </ul>#}

    <br>
    </div>
{% endblock %}