{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
{#    {% load staticfiles %}#}
    <div>
        <u><b>Area Chairs</b></u>
        <br>
    <ul>
        <li> Haris Aziz, CSIRO, Australia
        <li> Matteo Baldoni, Università degli Studi di Torino, Italy
        <li> Felix Brandt, Technische Universität München, Germany
        <li> Vincent Conitzer, Duke University, USA
        <li> Frank Dignum, Utrecht University, Netherlands
        <li> Prashant Doshi, University of Georgia, USA
        <li> Brian Logan, University of Nottingham, UK
        <li> Alessio Lomuscio, Imperial College, London, UK
        <li> Emiliano Lorini, Université Paul Sabatier, France
        <li> Sanjay Modgil, Kings College London, UK
        <li> Sarvapali Ramchurn, University of Southampton, UK
        <li> Juan Antonio Rodriguez-Aguilar, IIIA-CSC, Spain
        <li> Amal El Fallah Seghrouchni, Univ. Pierre and Marie Curie, France
        <li> Jaime Simão Sichman, University of São Paulo, Brazil
        <li> Samarth Swarup, Virginia Tech, USA
        <li> Matthew Taylor, Washington State University, USA
        <li> Kagan Tumer, Oregon State University, USA
        <li> Wiebe van der Hoek, University of Liverpool, UK
        <li> Pradeep Varakantham, Singapore Management University, Singapore
        <li> Michael Wellman, University of Michigan, USA
        <li> Makoto Yokoo, Kyushu University, Japan
        <li> Pinar Yolum, Bogazici University, Turkey
    </ul>
    </div>
{% endblock %}