{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
{#    {% load staticfiles %}#}
    <div>
        <h3><u>Award Winners </u></h3>
        <br><br>

        <h5><u>Best PC Member</u></h5>
        <ul>
            <li> Michael Papasimeon
            <br>(Defence Science and Technology)
            <li> Hadi Hosseini
            <br>(Rochester Institute of Technology)
            <li> Sylwia Polberg
            <br>(University College London)
        </ul>

        <h5><u>Best SPC Member</u></h5>
        <ul>
            <li> Ingrid Nunes
                <br>Univ. Federal do Rio Grande do Sul

            <li> Tibor Bosse
            <br>(Radboud University)
        </ul>

        <h5><u>Best Application Demo</u></h5>
        <ul>
            <li> Shashi Shekhar Jha, Shih-Fen Cheng, Rishikeshan Rajendram, Nicholas Wong, Firmansyah Bin Abd Rahman, Nghia Truong Trong, Meghna Lowalekar, Pradeep Varakantham
            <br> A Driver Guidance System for Taxis in Singapore
        </ul>

        <h5><u>Best Interactive Demo</u></h5>
        <ul>
            <li> Jarrett Holtz, Joydeep Biswas, Arjun Guha
            <br> Interactive Robot Transition Repair With SMT: Demonstration
        </ul>

        <h5><u>Best Industrial Track Paper</u></h5>
        <ul>
            <li> Sethuramalingam Subramaniam, Pooja Aggarwal, Gargi B Dasgupta, Amit Paradkar
            <br> COBOTS - A Cognitive Multi-Bot Conversational Framework for Technical Support
        </ul>

        <h5><u>Best Socially Interactive Agents Track Paper</u></h5>
        <ul>
            <li> Hendrik Buschmeier, Stefan Kopp
            <br> Communicative Listener Feedback in Human–Agent Interaction: Artificial Speakers Need to Be Attentive and Adaptive
        </ul>

        <h5><u>Best Robotics Track Paper</u></h5>
        <ul>
            <li> Shih-Yun Lo, Shiqi Zhang, Peter Stone
            <br> PETLON: Planning Efficiently for Task-Level-Optimal Navigation
        </ul>

        <h5><u>Pragnesh Jay Modi Best Student Paper</u></h5>
        <ul>
            <li> Raquel Rosés, Cristina Kadar, Charlotte Gerritsen, Chris Ovi Rouly
            <br> Agent-Based Simulation of Offender Mobility: Integrating Activity Nodes from Location-Based Social Networks
        </ul>

        <h5><u>Best Paper</u></h5>
        <ul>
            <li> Mohammad Irfan and Tucker Gordon
            <br> The Power of Context in Networks: Ideal Point Models with Social Interactions
        </ul>


    </div>
{% endblock %}