{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
{#    {% load staticfiles %}#}
    <div>
    <h3><u>Call for Demos: AAMAS 2018</u></h3>
    <br>
    Seventeenth International Conference on Autonomous Agents and Multiagent Systems
    <br>
    July 10-15, 2018, Stockholm, Sweden

    <br><br>
    <h5><u><b>Important Dates</b></u></h5>
            <ul>
                <li>Demonstration Submission: 16th of February 2018 (23:59 UTC-12)
                <li>Author Notification: 29th of March 2018 (23:59 UTC-12)
                <li>Camera Ready Submission: 1st of May 2018 (23:59 UTC-12)

            </ul>
    <br>

    <h4><u><b>Information for Authors</b></u></h4>

    The goal of the AAMAS Demo track is to provide opportunities for participants from academia and industry to present
    their latest developments in agent-based and robotic systems. Interactive systems and novel applications are
    particularly welcome.
    <br>
    Two “Best Demo” awards will be assigned by the Program Committee to recognize the most innovative demo (the one with
    the most original and significant research methodologies) and the best application demo (the one with the highest
    impact in a real-world application).
    <br>

    <h4><u><b>Topics of Interest</b></u></h4>
    Topics of interest include (but are not limited to) the following:
    <br>
    <ul>
    <li>Systems implementing agents in real-world settings in various application areas such as engineering
        (e.g., transportation, robotics, grid), economy (e.g., e-commerce), health care, societal challenges and education.

    <li>Systems supporting the development of agents which include development environments and tools to assist developers in the
        specification, design, implementation and/or testing of agent systems.

    <li>Systems using agents to model behavior which include virtual agents, simulation systems, games and social robots.
    </ul>

    <h4><u><b>Submission Requirements</b></u></h4>
    Submissions accepted for the Demo track will be advertised on the AAMAS website and be included in the conference
    proceedings. Each Demo submission must consist of the following elements:<br><br>

    <p><font color="red">Paper (maximum 4 pages):</font></p>
    <ul>
        <li>Pages 1-2 to describe the system to be demonstrated. The authors are encouraged to discuss the application domain,
        the problem scenario, the technology used, the agent/multi-agent techniques involved, the innovations of the system,
        interactive aspects, etc.
        <li>Page 3 should only list the bibliographic references.
        <li>Page 4 to provide the organizers with a list of requirements for the demo setting at the conference.
        <li>Papers must be prepared using the AAMAS format and submitted as PDF files. Submissions not conforming to the guidelines above will be rejected.
    </ul>

    <p><font color="red">Video (maximum 5 minutes):</font></p>
    <ul>
    <li>The paper should  contain a URL linking to a demonstration video of no more than 5 minutes in duration (QuickTime or
    YouTube format) showing and explaining the execution of the system.
    <li>The video should be understandable without sound as much as possible, as they can be played during the conference
        (see below). The video should include (at the beginning and at the end) the title of the demo and the track number
        provided by the submission system.
    </ul>
        Submissions should be made through the Demo track submission system (see <a href="http://aamas18.ifaamas.org">
        http://aamas18.ifaamas.org</a>  for more details).
        Accepted Demo papers will be included in the AAMAS proceedings. Videos of accepted demo papers will be played
        (with no sound) during breaks and demo sessions to increase visibility. At least one author of each accepted
        demonstration is required to register and attend the conference to present their work.

    <h4><u><b>Selection Process</b></u></h4>
    The submission and selection process for the AAMAS 2017 Demos will be separate from that of the main conference.
    Each submission will be assessed by the Demos Program Committee. The authors will receive a brief evaluation report
    with the notification. The evaluation criteria are:
    <ul>
        <li>Relevance to the AAMAS conference</li>
        <li>Significance and originality</li>
        <li>Video content and presentation</li>
        <li>Maturity and readiness of the demonstration</li>
        <li>Potential for public interaction</li>
        <li>Potential impact in the intended application domain</li>
        <li>Potential interest to a broader audience</li>
    </ul>
    <br>

    <h4><u><b>Demonstration Chairs:</b></u></h4>
    Alessandro Farinelli (University of Verona)<br>
    Iolanda Leite (KTH Royal Institute of Technology)<br><br><br>


</div>
{% endblock %}