{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
{#    {% load staticfiles %}#}
    <div>
    <h3><u>Call for Tutorials: AAMAS 2018</u></h3>
    <br>
    Seventeenth International Conference on Autonomous Agents and Multiagent Systems
    <br>
    July 10-15, 2018, Stockholm, Sweden

    <br><br>
    <h5><u><b>Important Dates</b></u></h5>
            <ul>
                <li>Tutorial Proposal Submission Deadline: December 15, 2017
                <li>Tutorial Acceptance Notifications: January 10, 2017
                <li>Deadline for making the tutorial site available on the web (without notes): March 5, 2018
                <li>Deadline for submitting tutorial notes and making them available on the web: June 11, 2018
                <li>Tutorial Forum Presentations: July 10, 2018
            </ul>
    <br>

    The AAMAS 2018 Organizing Committee invites proposals for the Tutorial Program to be held on July 10th 2018,
    immediately before the technical conference. This year, AAMAS will overlap with ICML and IJCAI, making it a unique
    opportunity for researchers that do not normally attend AAMAS to present and attend tutorials at the conference.
    AAMAS tutorials will be collocated with ICML tutorials. AAMAS 2018 Tutorials should serve one or more of the
    following objectives:
    <br>
    <ul>
        <li> Introduce novices to major topics of AAMAS research.</li>
        <li> Provide instruction in established practices and methodologies.</li>
        <li> Survey a mature area of AAMAS research or practice.</li>
        <li> Motivate and explain an AAMAS topic of emerging importance.</li>
        <li> Introduce expert non-specialists to an AAMAS area.</li>
        <li> Survey an area of agent research especially relevant for people from industry.</li>
        <li> Present a novel synthesis combining distinct lines of AAMAS work.</li>
        <li> Introduce AAMAS audiences to an external topic that can motivate or use AAMAS research.</li>
    </ul>

    Topic areas of interest include all of those listed in the call for the technical track
    (see <a href="http://celweb.vuse.vanderbilt.edu/aamas18/">http://celweb.vuse.vanderbilt.edu/aamas18/</a>), including
    the special tracks. Tutorials will be half day long. A few full day tutorials may be accepted, but the proponents
    need to motivate their request when submitting their proposal.

    <br><br>

    <h4><u><b>Submission Requirements</b></u></h4>

    Those interested in presenting a tutorial should register their proposal via an online form (see the submission instructions).
    Proposals should be two to four pages in length and should contain the following information:
    <br>
    <ol>
        <li> A short title of the tutorial. </li>
        <li> A brief description of the tutorial, suitable for inclusion in the conference registration brochure. </li>
        <li> A detailed outline of the tutorial, including preferred length (half or full day). </li>
        <li> Characterization of the potential target audience for the tutorial, including prerequisite knowledge. </li>
        <li> A description of why the tutorial topic would be of interest to a substantial part of the AAMAS audience. </li>
        <li> A brief resume of the presenter(s), which should include name, postal address, phone (and fax) numbers, email address, background in the tutorial area, any available example of work in the area (ideally, a published tutorial-level article on the subject), evidence of teaching experience (including references that address the proposer's presentation skills as applicable), and evidence of scholarship in the area. </li>
        <li> The name and e-mail address of the corresponding presenter. The corresponding presenter should be available for e-mail correspondence during the evaluation process, in the case clarifications and discussions on the scope and content of the proposal are needed. </li>
    </ol>
    <br>
    The evaluation of the proposal will take into account the level of general interest for AAMAS attendees, the quality of
    the proposal, and the expertise and skills of the presenters. We emphasize that the primary criteria for evaluation will
    be whether a proposal is interesting, well-structured, and motivated, rather than the perceived experience/standing of the proposer.
    <br>
    Those submitting a proposal should keep in mind that tutorials are intended to provide an overview of the field;
    they should present reasonably well established information in a balanced way. Tutorials should not be used to advocate
    a single avenue of research, nor should they promote a product.
    <br>
    The selection of the tutorials to be included in the final AAMAS program will be based upon a number of factors,
    including: the scientific/technical interest of the topics, the quality of the proposal, the need to avoid strictly
    overlapping tutorials, and the unavoidable need to limit the overall number of selected tutorials.
    <br>

    <h4><u><b>Responsibilities (with respect to accepted proposals)</b></u></h4>
    AAMAS will be responsible for:
    <ul>
    <li> Providing logistic support and a meeting place for the tutorial. </li>
    <li> Together with the organizers, determining the tutorial date and time. </li>
    <li> Advertising the availability of the tutorial material to the AAMAS 2017 participants. </li>
    </ul>
    <br>
    Tutorial organizers will be responsible for:<br>
    <ul>
        <li> Providing AAMAS with a legible PDF copy of their tutorial notes by June 11, 2018.</li>
        <li> Providing a web site for the tutorial, which will include title and abstract of the tutorial, presenters' details,
            outline, tutorial notes and related reading material. The Tutorial co-chairs will ask the Tutorial organizers to
            follow some common format and style for their web sites, in order to make them as homogeneous as possible.
            More details will be provided upon acceptance.
        <li> Presenting the tutorial at AAMAS 2017.</li>
    </ul>

    <br>
    AAMAS reserves the right to cancel any tutorial if the above responsibilities are not fulfilled, if deadlines are missed,
    or if too few attendees register for the tutorial to support the costs of running the tutorial.
    <br><br>

    <h4><u><b>Submissions and Inquiries</b></u></h4>
    Those interested in presenting a tutorial should send the proposal file, either in ASCII or PDF, to both the AAMAS 2018 Tutorial Co-chairs, Chris Amato and Bo An, by email.
    <br>Inquiries should be sent by email to the Tutorial Co-chairs:<br>
    <br>
    Chris Amato<br>
    Northeastern University<br>
    camato@ccs.neu.edu<br>
    <br>
    Bo An<br>
    Nanyang Technological University<br>
    boan@ntu.edu.sg<br>
    <br>

</div>
{% endblock %}