{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
{#    {% load staticfiles %}#}
    <div>
        <u><b>AAMAS 2018 ORGANIZING COMMITTEE MEMBERS</b></u>
        <br>
        <b>General Chairs:</b> Elisabeth Andre and Sven Koenig
        <br>
        <b>Program Chairs:</b> Mehdi Dastani and Gita Sukthankar
        <br>
        <b>Tutorial Chairs:</b> Chris Amato and Bo An
        <br>
        <b>Workshop Chairs:</b> Catholijn Jonker and Gal Kaminka
        <br>
        <b>Finance Chair:</b> Paul Davidsson
        <br>
        <b>Sponsorship Chairs:</b> Marcello Cirillo, Nicola Gatti, Kagan Tumer and Pradeep Varakantham
        <br>
        <b>Exhibition Program Chair:</b> Roie Zivan
        <br>
        <b>Demonstration Program Chairs:</b> Alessandro Farinelli and Iolanda Leite
        <br>
        <b>Doctoral Consortium Chairs:</b> Ana Bazzan and Birgit Lugrin
        <br>
        <b>Publicity Chairs:</b> Adrian Pearce and Jordi Sabater-Mir
        <br>
        <b>Publication Chair:</b> Neil Yorke-Smith
        <br>
        <b>Scholarship Chairs:</b> Julian Padget, Sanem Sariel and William Yeoh
        <br>
        <b>Webmaster:</b> Ayan Mukhopadhyay, Yevgeniy Vorobeychik
        <br>
        <b>Local Arrangement Chair:</b> Franziska Kluegl
        <br>
        <br>
        <b>Tracks:</b>
        <br>
        <b>Socially Interactive Agents:</b> Angelo Cafaro and Stacy Marsella
        <br>
        <b>Blue Sky Ideas:</b> Michael Rovatsos and Carles Sierra
        <br>
        <b>Robotics:</b> Sonia Chernova and Maria Gini
        <br>
        <b>Industrial Applications:</b> Nils Bulling and Ann Nowé
        <br>
        <b>JAAMAS:</b> Natasha Alechina
    </div>
{% endblock %}