{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:12px;padding:5px 5px;border-style:solid;border-width:1px;text-align:center}
    .tg th{font-family:Arial, sans-serif;font-size:12px;font-weight:normal;padding:5px 5px;border-style:solid;border-width:1px;text-align:center}
    .tg .tg-s6z2{border-color:inherit;text-align:center;vertical-align:middle}
    .tg .tg-s6z2{text-align:center}
    .tg .tg-031e{vertical-align:top}
    .tg .tg-s6z3{vertical-align:middle;text-align:center;word-wrap:normal}
</style>

<div>

    <br><br>
    <table class="tg" align="center">
        <tr bgcolor="#ff9900">
            <td class="tg-9353"><font color="red"><b>11 July 2018 </b> <br>(15:30-17:00)</font></td>
        </tr>
        <tr> <td class="tg-031e"> DAGGER: Datalog+/- Argumentation Graph GEneRator </td></tr>
        <tr> <td class="tg-031e"> Follow the White Robot - A Role-Playing Game with a Robot Game Master </td></tr>
        <tr> <td class="tg-031e"> A Driver Guidance System for Taxis in Singapore </td></tr>
        <tr> <td class="tg-031e"> A Simulation Tool for Large-Scale Online Ridesharing </td></tr>
        <tr> <td class="tg-031e"> DEMO: Human-UAV Teaming in Dynamic and Uncertain Environments </td></tr>
        <tr> <td class="tg-031e"> Dynamic Escape Game </td></tr>
        <tr> <td class="tg-031e"> Enable Automated Emergency Responses Through An Agent-Based Computer-Aided Dispatch System </td></tr>
        <tr> <td class="tg-031e"> A Generic Platform for Training Social Skills with Adaptive Virtual Agents </tr>
        <tr> <td class="tg-031e"> A Unified Opinion Framework Simulator </td></tr>
        <tr> <td class="tg-031e"> HATP: Hierarchical Agent-based Task Planner </td></tr>
        <tr bgcolor="#ff9900">
            <td class="tg-9353"><font color="red"><b>12 July 2018 </b> <br>(15:30-17:00)</font></td>
        </tr>
        <tr> <td class="tg-031e"> CARPooL: Collective Adaptation using concuRrent PLanning </td></tr>
        <tr> <td class="tg-031e"> Flexible Multi-Agent System for Distributed Coordination, Transportation & Localisation </td></tr>
        <tr> <td class="tg-031e"> Seeking Prevention of Cognitive Decline in Elders via Activity Suggestion by A Virtual Caregiver </td></tr>
        <tr> <td class="tg-031e"> Interactive Robot Transition Repair With SMT: Demonstration </td></tr>
        <tr> <td class="tg-031e"> LightJason: Highly scalable and concurrent framework for cognitive behaviour modelling and simulation </td></tr>
        <tr> <td class="tg-031e"> Sarah the Virtual Advisor to Reduce Study Stress (Demonstration)</td> </tr>
        <tr> <td class="tg-031e"> Multi-Robot Simultaneous Coverage and Mapping of Complex Scene </td></tr>
        <tr> <td class="tg-031e"> Composite Capabilities for Cloud Manufacturing </td></tr>
        <tr> <td class="tg-031e"> Development of Real-World Agent System For Werewolf Game </td></tr>
    </table>
    <br><br>
</div>

{% endblock %}