{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
{#    {% load staticfiles %}#}
    <div>
        <h3><u>Doctoral Consortium</u></h3>
        <br>
        Seventeenth International Conference on Autonomous Agents and Multiagent Systems
        <br>
        July 10-15, 2018, Stockholm, Sweden

    <br><br>
    <h5><u><b>Important Dates</b></u></h5>
        <ul>
            <li>Submission due: 18th February 2018
            <li>Doctoral Mentoring Program: 10th July 2018
        </ul>
        <br>

        The AAMAS 2018 doctoral mentoring program is intended for Ph.D. students in advanced stages of their research.
        This program will provide an opportunity for students to interact closely with established researchers in their
        fields, to receive feedback on their work and to get advice on managing their careers.<br><br>
        Specifically, the goals of the program are:<br>
        <ul>
            <li>To match each student with an established researcher in the community who will act as a mentor. The
                mentor will interact closely with the student, provide feedback on research, and help the student
                form new contacts.</li>
            <li>To allow students an opportunity to present their work to a friendly audience of other students as well
                as mentors.</li>
            <li>To provide students with new contacts and professional networking opportunities.</li>
        </ul>
        The doctoral mentoring program will consist of a one day doctoral symposium and the opportunity for interaction
        between mentors and their mentees during the conference.<br>

        <br><h5><u><b>Schedule</b></u></h5>

        <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-wp8o{border-color:#000000;text-align:center;vertical-align:top}
</style>

<b>Note: The AAMAS Doctoral Consortium is located at K16.</b>
<br>
The link to the scavenger hunt is : <a href="https://sites.google.com/site/aamas18scavengerhunt/">https://sites.google.com/site/aamas18scavengerhunt/ </a>
<br>
<table class="tg" align="center">
  <tr>
    <th class="tg-wp8o">Time</th>
    <th class="tg-wp8o">Program</th>
  </tr>
  <tr>
    <td class="tg-wp8o">9:00 - 9:30</td>
    <td class="tg-wp8o">Opening by DC-chairs</td>
  </tr>
  <tr>
    <td class="tg-wp8o">9:30 - 10:00</td>
    <td class="tg-wp8o">Introduction of DC-participants</td>
  </tr>
  <tr>
    <td class="tg-wp8o">10:00 -10:30</td>
    <td class="tg-wp8o">Coffee Break</td>
  </tr>
  <tr>
    <td class="tg-wp8o">10:30 - 11:30</td>
    <td class="tg-wp8o">Invited Talk (Milind Tambe, University of Southern California)</td>
  </tr>
  <tr>
    <td class="tg-wp8o">11:30 - 12:30</td>
    <td class="tg-wp8o">Technical Session I<br>Alvaro Perez-Diaz, Rijk Mercuur, Jan Pöppel, Valentina Pitoni, Mirgita Frasheri, Hannes Ritschel, Maxime Bouton, Chad Crawford</td>
  </tr>
  <tr>
    <td class="tg-wp8o">12:30 - 13:30</td>
    <td class="tg-wp8o">Lunch</td>
  </tr>
  <tr>
    <td class="tg-wp8o">13:30 - 14:30</td>
    <td class="tg-wp8o">Technical Session II<br>Jan Mrkos, Dhaval Adjodah, Erez Hartuv, Samuel Spaulding, Tanja Schneeberger, Tanja Daub, Ayan Mukhopadhyay</td>
  </tr>
  <tr>
    <td class="tg-wp8o">14:30 - 15:00</td>
    <td class="tg-wp8o">Announcements by the chairs</td>
  </tr>
  <tr>
    <td class="tg-wp8o">15:00 - 15:30</td>
    <td class="tg-wp8o">Coffee Break</td>
  </tr>
  <tr>
    <td class="tg-wp8o">15:30 - 16:30</td>
    <td class="tg-wp8o">Jiří Švancara,,Sai Krishna Pathi, Onuralp Ulusoy, Wolfgang Hönig, Arianna Novaro, Joanna Turner, Nathalia Nascimento, Samuel Robert Cauvin</td>
  </tr>
  <tr>
    <td class="tg-wp8o">16:30 - 17:30</td>
    <td class="tg-wp8o">Wrap-up by DC-chairs and mentors</td>
  </tr>
</table>

<br>

        Please refer to the <a href="http://celweb.vuse.vanderbilt.edu/aamas18/acceptedDoctoral">list of accepted DC papers</a> for the titles of the contributions.


<br><br>
        <h4><u><b>Submission Requirements</b></u></h4>

        We encourage submissions from Ph.D. students at advanced stages of their research within the Autonomous Agents
        and Multiagent Systems field.
        Each submission package should include the following items: <br>
        <ol type = "1">
            <li> An extended abstract of the Ph.D. thesis (2-pages in the AAMAS paper submission format) </li>
            <li> A short text or table that includes the following items:
                <ul>
                    <li>affiliation (institute, etc.)</li>
                    <li>area of study (3-5 keywords) or title of thesis (if already decided)</li>
                    <li>name and contact data of supervisor</li>
                    <li>year when the Ph.D. started</li>
                    <li>expected time until submission of Ph.D. thesis</li>
                    <li>a list with names of suggested mentors (at least 3)</li>
                    <li>a list of your favorite papers in the area (3-5 papers)</li>
                    <li>a list of own papers (max. 3 papers)</li>
                    <li>whether you have participated in the AAMAS doctoral mentoring program before</li>
                </ul>
            </li>
            <li>A short resume (2-pages) that includes:
                <ul>
                    <li>citizenship and gender</li>
                    <li>what you expect from the doctoral consortium</li>
                    <li>what you expect from participating in the AAMAS conference</li>
                </ul>
            </li>

            <li>A recommendation letter from the advisor (max. 1 page), sent separately by the advisor her/himself to 
                both chairs (see addresses below).</li>
        </ol>

    Based on the submissions, the organizing committee will select a group of students that will be invited to
    participate in the program. Participants will be expected to take active part in all doctoral mentoring program
    activities. <br>
    <br>

    <h4><u><b>Submission Details:</b></u></h4>
    <br>
    Those interested in participating in the doctoral mentoring program should submit the required document,
    in one single PDF, to <a href="https://easychair.org/conferences/?conf=dcaamas18">https://easychair.org/conferences/?conf=dcaamas18</a>
    <br>
    <br>
    For questions, please contact the doctoral mentoring co-chairs:<br><br>
    Ana Lucia C. Bazzan<br>
    Universidade Federal do Rio Grande do Sul, Brazil<br>
    Email adress: bazzan@inf.ufrgs.br<br>
    <br>
    Birgit Lugrin<br>
    University of Wuerzburg, Germany<br>
    Email adress: birgit.lugrin@uni-wuerzburg.de<br>
    <br>

    <h4><u><b>Policies</b></u></h4>
    <u><b>Policy on harassment at the conference environment.</u></br>
    <br>
    IFAAMAS is committed to organising the AAMAS conference and its affiliated events in an environment that is free of harassment for everyone involved: delegates, organisers, conference workers, and reviewers. All participants in IFAAMAS events are asked to embrace our intention to foster a harassment-free scientific community, and to understand that IFAAMAS will respond appropriately to incidents of harassment if they occur. The complete IFAAMAS harassment policy is available at www.ifaamas.org/harassment.html.
    For further details about AAMAS 2018, please visit the website at <a href="http://aamas18.ifaamas.org">http://aamas18.ifaamas.org</a>
    <br><br>

    </div>
{% endblock %}



