{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
{#    {% load staticfiles %}#}
    <div>
    <h3><u>Call for Exhibition</u></h3>
    <br>
    Seventeenth International Conference on Autonomous Agents and Multiagent Systems
    <br>
    July 10-15, 2018, Stockholm, Sweden
    <br><br>
        AAMAS is a premier artificial intelligence conference in the world, which brings together researchers and
        practitioners in the areas of autonomous agents and multi-agent systems including embodied agents and robotics.
        AAMAS consistently attracts about 500-700 participants every year. AAMAS-18 has the twin aim of offering a
        high-quality academic conference and connecting researchers to industry through events such as exhibitions,
        demonstrations and the Industrial Applications track. Thus, AAMAS provides a targeted opportunity to reach
        prominent and influential AI researchers.
        <br><br>
        In parallel with the conference, there will be exhibitions on the days of main conference, where products such
        as books, devices, services and software can be presented. We call upon potential exhibitors to connect with AAMAS.
        <br><br>
        AAMAS-18 will provide exhibitors with:
        <ul>
            <li> Exhibit space, in a special and easily accessible area of the conference venue,
            <li> Materials such as a table, chairs and poster board,
            <li> Other resources (on demand) such as an internet connection and electric power.
        </ul>

        The fee for exhibiting at AAMAS this year will be USD 1,200 (approx. 1000 EURO) which includes the above
        arrangements and the registration fee for one person excluding banquet. Potential exhibitors are encouraged to
        contact the exhibit chair for more details and any questions.
        <br><br>
        <b> Submission requirements </b>
        Companies and publishers wishing to exhibit products or services of interest to the AAMAS-18 attendees are asked
        to submit a letter or e-mail of intent to exhibit with the following information:
        <ul>
           <li> A short description of the company
           <li> A description of the products or services to be exhibited
           <li> The minimum amount of exhibit space needed (e.g., the number of tables and size needed)
           <li> Any special requirements (e.g., internet connection, electric power plugs)
        </ul>
        All requests should be submitted by electronic mail to the Exhibits Chair (see below) no later than April 15, 2018.


        <br><br>
        <h4><u><b>Important Dates</b></u></h4>
        <ul>
            <li>Exhibits Registration Deadline: April 15, 2018
            <li>AAMAS-18 Exhibits: July 11-13, 2018
        </ul>
        Letters of intent and inquiries can be sent by letter or email to the exhibits chair:
        <br><br>
        <b>Contact</b>
        <br>
        Roie Zivan<br>
        AAMAS 2018 Exhibits Chair,<br>
        Ben Gurion University of the Negev, Israel<br>
        <br>
        E-mail : zivanr@bgu.ac.il<br>
        Fax +972-8-6472958<br>
        Phone +972-8-6472953<br>




        <br><br>
    </div>
{% endblock %}