{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div>
        <h3><u>IFAAMAS Influential Paper Award</u></h3>
    <br>

    <br>
    The following two papers have been selected as recipients of the 2018 IFAAMAS Award for Influential Papers in Autonomous Agents and Multiagent Systems
    <br><br>
    <ul>
        <li>Michael Wooldridge, Nicholas R. Jennings, and David Kinny, The Gaia Methodology for Agent-Oriented Analysis and Design, JAAMAS, 3(3):285--312, 2000.

        <li>Franco Zambonelli, Nicholas R. Jennings, and Michael Wooldridge, Developing Multiagent Systems: The Gaia Methodology, ACM Transactions on Software Engineering Methodology, 12(3):317--370, 2003.
    </ul>
{#    The International Foundation for Autonomous Agents and Multi-Agent Systems, IFAAMAS, established an award in 2006 to#}
{#    recognize publications in the autonomous agents and multiagent systems field that have made influential and#}
{#    long-lasting contributions. Candidates for this award are papers that have proved a key result, led to the development#}
{#    of a new subfield, demonstrated a significant new application or system, or simply presented a new way of thinking#}
{#    about a topic that has proved influential. A list of previous winners of this award appears at#}
{#    <a href="http://www.aamas-conference.org/award-influential.html">http://www.aamas-conference.org/award-influential.html</a>.#}
{##}
{##}
{#    <br><br>#}
{#    This award is presented annually at the AAMAS Conference. Winning papers must have been published at least 10 years#}
{#    before the first day of the conference. Therefore, papers eligible for the 2018 award must have been published in#}
{#    June 2008 or earlier, in a recognized scientific forum (e.g., journal, conference, workshop).#}
{#    <br><br>#}
{##}
{#    To nominate a publication for this award, please complete the form at <a href=" https://goo.gl/forms/cuwdxwcBvFOcHzBj1">https://goo.gl/forms/cuwdxwcBvFOcHzBj1</a>#}
{#    <br><br>#}
{#    Nominations are due 23:59 AoE on February 10, 2018.#}
{#    <br><br>#}
{##}
{#    Please direct any questions to Professor Munindar Singh, Chair of the 2018 IFAAMAS Influential Paper Award Committee,#}
{#    at <a href="mailto:mpsingh@ncsu.edu?Subject=IFAAMAS Influential Paper Award">mpsingh@ncsu.edu</a>#}
    </div>
    {% endblock %}