{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <div>
        <p>
        <h2><u>Useful Last-Minute Information</u></h2></p>


        <h3>Weather in Stockholm</h3></p>

        <p>Stockholm is
        located in the northern part of Europe at the sea. It is usually windy and not very dry
        over long periods. However, currently we enjoy a surprisingly long sequence of wonderful
        sunny and dry days. The current weather forecast for Stockholm (July 3rd to July 12th)
        contains some clouds and a little rain for the AAMAS week, but there is no reason to continue
        being optimistic. Nevertheless, do not rely on really warm and do not
        expect really cold weather, don't forget sweaters and jackets ... the layered approach is never wrong.</p>

        <p>The Swedish Meteorological
        and Hydrological Institute (SMHI) – has a useful webpage with weather forecast on
        an hourly basis, including also warnings: <a href="https://www.smhi.se/">https://www.smhi.se/</span></a><br>
        The page is in Swedish, but the information is mostly based on pictograms and
        numbers and should be generally understandable.</p>

        <h3>How to
        reach Stockholmsmässan from Stockholm Central Station</h3></p>

        <p>
        Stockholmsmässan <br>
        Mässvägen 1, <br>
        125 80 Älvsjö</p>

        <p><a href="http://www.stockholmsmassan.se/">http://www.stockholmsmassan.se/</a></p>

        <p> SL – the public transportation provided in Stockholm - has a really good search engine:
        <a href="https://sl.se/en/">https://sl.se/en/</a></p>

        <p>Once you
        have reached Stockholm Central Station, you will find it easy to travel to <b>&Auml;lvsjö
        Station</b> – the station at which Stockholmsmässan is located. Currently the
        Swedish railway company has shut down all long-distance train traffic between
        Stockholm Central Station and Stockholm S&ouml;dra (South) and tells everybody to
        use the commuter train between those two stations instead. These are exactly
        the trains that you need to use to go to Älvsjö. A negative consequence is that
        those trains will be fuller than usual, a positive consequence is that the
        signaling in Stockholm Central was improved dramatically! You can also find
        people in yellow vests everywhere ready to help lost travelers.</p>

        <img id="yellowBanner" src="{% static "images/YellowSign.jpg" %}" height="80">

        <p>You need to
        follow the yellow signs with the “J”; you can find them even on the floor. <i>All</i>
        commuter trains that go towards Stockholm S&oumldra <i>continue</i> to &Auml;lvsjö and
        start from the same platform (track 3 or 4) of the commuter train station far
        below the standard train station. After leaving Stockholm S&ouml;dra, &Auml;lvsjö is the
        second stop.</span></p>

        <p>After
        exiting the train in Älvsjö, you go up stairs to the station, leave the passenger area
        and turn left – follow the sign towards Stockholmsmässan. After ca. 200m meters
        downhill on a roofed path, you see the entrance of Stockholmsmässan to your
        left, like in the picture below:</p>

        <p><p><img id="Stockholmsmassan" src="{% static "images/Stockholmsmassan.jpg" %}" height="250"></p></p>

        <p>You enter
        the building through one of the doors. The registration area is behind the
        information desk to the left which unfortunately blocks the line of sight
        between entrance and registration. </p>


        <p><h2>Registration Times</h2></p>

        <p>We will be open the registration desks on July 10 about 1
        hour before the tutorial sessions will start. The planned opening hours are:</p>

        <table border=1 cellspacing=0 cellpadding=0>
         <tr>
          <td width=74 valign=top style='width:55.3pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
          height:4.95pt'>
          July 10
          </td>
          <td width=113 valign=top style='width:84.8pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
          height:4.95pt'>
          7:45 - 20:00
          </td>
         </tr>
         <tr>
          <td width=74 valign=top style='width:55.3pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
          height:4.95pt'> July 11 </td>
          <td width=113 valign=top style='width:84.8pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
          height:4.95pt'>
          7:30 – 18:30
          </td>
         </tr>
         <tr style='height:4.95pt'>
          <td width=74 valign=top style='width:55.3pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
          height:4.95pt'>
          July 12
          </td>
          <td width=113 valign=top style='width:84.8pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
          height:4.95pt'>
           8:30 - 18:00
          </td>
         </tr>
         <tr style='height:4.95pt'>
          <td width=74 valign=top style='width:55.3pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
          height:4.95pt'>
          July 13
          </td>
          <td width=113 valign=top style='width:84.8pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
          height:4.95pt'>
          8:30 – 18:00
          </td>
         </tr>
         <tr style='height:4.95pt'>
          <td width=74 valign=top style='width:55.3pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
          height:4.95pt'>
          July 14
          </td>
          <td width=113 valign=top style='width:84.8pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
          height:4.95pt'>
          7:30 – 18:00
          </td>
         </tr>
         <tr style='height:4.95pt'>
          <td width=74 valign=top style='width:55.3pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
          height:4.95pt'>
          July 15
          </td>
          <td width=113 valign=top style='width:84.8pt;border:none;padding:0cm 5.4pt 0cm 5.4pt;
          height:4.95pt'>
          8:30 – 12:30
          </td>
         </tr>
        </table>


        <h3>Stockholmsmässan and Food</h3>

        <p>Stockholmsmässan has a number of restaurants or places where
        you can grab food or sit down to eat. The following drawing of the venue shows
        the AAMAS areas (red circles) and food spaces (blue rectangles)</p>

        <p><img id="map" src="{% static "images/map.jpg" %}"></p>

        <p>However, you may find their offer a bit expensive. There are
        not many alternatives, but they exist: Scandic Talk Hotel offers a lunch buffet
        for 125 SEK – yet, that might be a little bit crowded. On the other side of the
        Älvsjö train station, there is a place with a number of opportunities: Älvsjö
        Torg. You enter the railway station and instead of turning right and going into the passenger area,
        you continue straight ahead. There, you can find not just a COOP supermarket and a small Subway restaurant, but also
        Wok restaurant or Vibels Bakery which offers a selection of salads, sandwiches
        and nice typical Swedish pastry. At Älvsjö Torg you can also find a pharmacy.<br>
        With the good and fast train connection to Stockholm C, it may be feasible to
        go there during the 1,5h lunch break – but be back in time! </p>
    </div>
{% endblock %}