{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:12px;padding:5px 5px;border-style:solid;border-width:1px;text-align:center}
    .tg th{font-family:Arial, sans-serif;font-size:12px;font-weight:normal;padding:5px 5px;border-style:solid;border-width:1px;text-align:center}
    .tg .tg-s6z2{border-color:inherit;text-align:center;vertical-align:middle}
    .tg .tg-s6z2{text-align:center}
    .tg .tg-031e{vertical-align:top}
    .tg .tg-s6z3{vertical-align:middle;text-align:center;word-wrap:normal}
</style>

<div>
    The size of posters should be DinA0 (either poster or landscape). All poster sessions are scheduled at 15:30-17:00 hours.
    <br><br>
    <table class="tg">
        <tr bgcolor="#ff9900">
        <td class="tg-9353" colspan="2"><font color="red"><b>11 July 2018 </b> <br>(15:30-17:00)</font></td>
        </tr>
        <tr>
        <td class="tg-031e">Ewa Andrejczuk, Filippo  Bistaffa,Christian  Blum, Juan A.  Rodriguez-Aguilar, Carles  Sierra </td>
        <td class="tg-031e">Solving the Synergistic Team Composition Problem</td>
        </tr>
        <tr>
        <td class="tg-031e">Michalis  Mamakos, Georgios  Chalkiadakis </td>
        <td class="tg-031e">Overlapping Coalition Formation via Probabilistic Topic Modeling</td>
        </tr>
        <tr>
        <td class="tg-031e">Decebal Constantin  Mocanu, Elena  Mocanu </td>
        <td class="tg-031e">One-Shot Learning using Mixture of Variational Autoencoders: a Generalization Learning approach</td>
        </tr>
        <tr>
        <td class="tg-031e">Ruben A Putter, Geoff S Nitschke </td>
        <td class="tg-031e">Is Novelty Search Good for Evolving Morphologically Robust Robot Controllers?</td>
        </tr>
        <tr>
        <td class="tg-031e">Yaodong  Yang, Lantao  Yu, Yiwei  Bai, Ying  Wen, Weinan  Zhang, Jun  Wang </td>
        <td class="tg-031e">A Study of AI Population Dynamics with Million-agent Reinforcement Learning</td>
        </tr>
        <tr>
        <td class="tg-031e">Hau  Chan, Luis E. Ortiz </td>
        <td class="tg-031e">Learning Game-theoretic Models from Aggregate Behavioral Data with Applications to Vaccination Rates in Public Health</td>
        </tr>
        <tr>
        <td class="tg-031e">Stefano  Picascia, Ali  Termos, Neil  Yorke-Smith </td>
        <td class="tg-031e">Initial Results from an Agent-Based Simulation of Housing in Urban Beirut</td>
        </tr>
        <tr>
        <td class="tg-031e">Vahid  Yazdanpanah, Devrim Murat Yazan, Henk  Zijm </td>
        <td class="tg-031e">Industrial Symbiotic Networks as Coordinated Games</td>
        </tr>
        <tr>
        <td class="tg-031e">Alessandro  Ricci, Rafael Hector Bordini, Jomi F. Hbner, Rem  Collier </td>
        <td class="tg-031e">AgentSpeak(ER): An Extension of AgentSpeak(L) improving Encapsulation and Reasoning about Goals</td>
        </tr>
        <tr>
        <td class="tg-031e">Lin  Chen, Lei  Xu, Shouhuai  Xu, Zhimin  Gao, Nolan  Shah, Yang  Lu, Weidong  Shi </td>
        <td class="tg-031e">Protecting Election from Bribery: New Approach and Computational Complexity Characterization</td>
        </tr>
        <tr>
        <td class="tg-031e">Akshat  Tandon, Kamalakar  Karlapalem </td>
        <td class="tg-031e">Agent Strategies for the Hide-and-Seek Game</td>
        </tr>
        <tr>
        <td class="tg-031e">Hamid  Mirzaei, Guni  Sharon, Stephen  Boyles, Tony  Givargis, Peter  Stone </td>
        <td class="tg-031e">Link-based Parameterized Micro-tolling Scheme for Optimal Traffic Management</td>
        </tr>
        <tr>
        <td class="tg-031e">Aadesh  Neupane, Michael A. Goodrich, Eric G. Mercer </td>
        <td class="tg-031e">GEESE: Grammatical Evolution Algorithm for Evolution of Swarm Behaviors</td>
        </tr>
        <tr>
        <td class="tg-031e">Yan  Zhang, Arnaud  Grignard, Kevin  Lyons, Alexander  Aubuchon, Kent  Larson </td>
        <td class="tg-031e">Real-time Machine Learning Prediction of an Agent-Based Model for Urban Decision-making (Extended Abstract)</td>
        </tr>
        <tr>
        <td class="tg-031e">Drew  Wicke, Ermo  Wei, Sean  Luke </td>
        <td class="tg-031e">Dynamic Traveling Repairmen Bounty Hunters</td>
        </tr>
        <tr>
        <td class="tg-031e">Chaoli  Zhang, Xiang  Wang, Fan  Wu, Xiaohui  Bei </td>
        <td class="tg-031e">Efficient Auctions with Identity-Dependent Negative Externalities</td>
        </tr>
        <tr>
        <td class="tg-031e">Weiran  Shen, Zihe  Wang, Song  Zuo </td>
        <td class="tg-031e">Ex-post IR Dynamic Auctions with Cost-per-action Payments</td>
        </tr>
        <tr>
        <td class="tg-031e">Yuan  Luo, Nicholas R. Jennings </td>
        <td class="tg-031e">A Differential Privacy Mechanism with Network Effects for Crowdsourcing Systems</td>
        </tr>
        <tr>
        <td class="tg-031e">Mark Alexander Burgess, Archie C. Chapman, Paul  Scott </td>
        <td class="tg-031e">The Generalized N&K Value: An Axiomatic Mechanism for Electricity Trading</td>
        </tr>
        <tr>
        <td class="tg-031e">Diodato  Ferraioli, Carmine  Ventre </td>
        <td class="tg-031e">Probabilistic Verification for Obviously Strategyproof Mechanisms</td>
        </tr>
        <tr>
        <td class="tg-031e">Moinul Morshed Porag  Chowdhury, Christopher  Kiekintveld, Tran Cao  Son, William  Yeoh </td>
        <td class="tg-031e">Bidding Strategy for Periodic Double Auctions Using Monte Carlo Tree Search</td>
        </tr>
        <tr>
        <td class="tg-031e">Shani  Alkoby, David  Sarne, Erel  Segal-Halevi, Tomer  Sharbaf </td>
        <td class="tg-031e">Eliciting Truthful Unverifiable Information</td>
        </tr>
        <tr>
        <td class="tg-031e">Vittorio  Bilo, Michele  Flammini, Gianpiero  Monaco, Luca  Moscardelli </td>
        <td class="tg-031e">On the Impact of Buyers Preselection in Pricing Problems</td>
        </tr>
        <tr>
        <td class="tg-031e">Grammateia  Kotsialou, Luke  Riley, Amrita  Dhillon, Toktam  Mahmoodi, Peter  McBurney, Paul  Massey, Richard  Pearce </td>
        <td class="tg-031e">Using Distributed Ledger Technology for Shareholder Rights Management</td>
        </tr>
        <tr>
        <td class="tg-031e">Vincent J. Koeman, Harm J. Griffioen, Danny C. Plenge, Koen V. Hindriks </td>
        <td class="tg-031e">StarCraft as a Testbed for Engineering Complex Distributed Systems Using Cognitive Agent Technology</td>
        </tr>
        <tr>
        <td class="tg-031e">Hyesun  Hong, Hanwoong  Jung, KangKyu  Park, Yeonggyo  Yoon, Soonhoi  Ha </td>
        <td class="tg-031e">Service-Oriented Robot Software Development Framework for Distributed Heterogeneous Platforms</td>
        </tr>
        <tr>
        <td class="tg-031e">Yantian  Zha, Yikang  Li, Sriram  Gopalakrishnan, Baoxin  Li, Subbarao  Kambhampati </td>
        <td class="tg-031e">Recognizing Plans by Learning Embeddings from Observed Action Distributions</td>
        </tr>
        <tr>
        <td class="tg-031e">Sandhya  Saisubramanian, Shlomo  Zilberstein, Prashant  Shenoy </td>
        <td class="tg-031e">Planning Using a Portfolio of Reduced Models</td>
        </tr>
        <tr>
        <td class="tg-031e">Hal James Cooper, Garud  Iyengar, Ching-Yung  Lin </td>
        <td class="tg-031e">Interpretable Robust Decision Making</td>
        </tr>
        <tr>
        <td class="tg-031e">Lakshmi  Nair, Sonia  Chernova </td>
        <td class="tg-031e">Action Categorization for Computationally Improved Task Learning and Planning</td>
        </tr>
        <tr>
        <td class="tg-031e">David  Isele, Eric  Eaton, Mark  Roberts, David  Aha </td>
        <td class="tg-031e">Modeling Consecutive Task Learning with Task Graph Agendas</td>
        </tr>
        <tr>
        <td class="tg-031e">Shangdong  Yang, Hao  Wang, Yang  Gao, Xingguo  Chen </td>
        <td class="tg-031e">An Optimal Algorithm for the Stochastic Bandits with Knowing Near-optimal Mean Reward</td>
        </tr>
        <tr>
        <td class="tg-031e">Brent  Harrison, Upol  Ehsan, Mark O. Riedl </td>
        <td class="tg-031e">Guiding Reinforcement Learning Exploration Using Natural Language</td>
        </tr>
        <tr>
        <td class="tg-031e">William  Saunders, Girish  Sastry, Andreas  Stuhlmuller, Owain  Evans </td>
        <td class="tg-031e">Trial without Error: Towards Safe Reinforcement Learning via Human Intervention</td>
        </tr>
        <tr>
        <td class="tg-031e">Anirban  Santara, Abhishek  Naik, Balaraman  Ravindran, Dipankar  Das, Dheevatsa  Mudigere, Sasikanth  Avancha, Bharat  Kaul </td>
        <td class="tg-031e">RAIL: Risk-Averse Imitation Learning</td>
        </tr>
        <tr>
        <td class="tg-031e">Steven  King, Scott  Forer, Adarsh  Kesireddy, Logan  Yliniemi </td>
        <td class="tg-031e">Surrogate Difference Evaluations with Limited Peer to Peer Communications</td>
        </tr>
        <tr>
        <td class="tg-031e">Mao  Li, Tim  Brys, Daniel  Kudenko </td>
        <td class="tg-031e">Introspective Reinforcement Learning and Learning from Demonstration</td>
        </tr>
        <tr>
        <td class="tg-031e">Angelo  Ferrando, Louise A. Dennis, Davide  Ancona, Michael  Fisher, Viviana  Mascardi </td>
        <td class="tg-031e">Recognising Assumption Violations in Autonomous Systems Verification</td>
        </tr>
        <tr>
        <td class="tg-031e">Pingzhong  Tang, Dingli  Yu </td>
        <td class="tg-031e">Balanced Outcomes in Wage Bargaining</td>
        </tr>
        <tr>
        <td class="tg-031e">Shivam  Gupta, Ruta  Mehta </td>
        <td class="tg-031e">Nash Equilibrium Computation in Resource Allocation Games</td>
        </tr>
        <tr>
        <td class="tg-031e">Alexander  Peysakhovich, Adam  Lerer </td>
        <td class="tg-031e">Prosocial Learning Agents Solve Generalized Stag Hunts Better than Selfish Ones</td>
        </tr>
        <tr>
        <td class="tg-031e">Yaodong  Yang, Jianye  Hao, Zan  Wang, Mingyang  Sun, Goran  Strbac </td>
        <td class="tg-031e">Recurrent Deep Multiagent Q-Learning for Autonomous Agents in Future Smart Grid</td>
        </tr>
        <tr>
        <td class="tg-031e">Jen Jen  Chung, Scott  Chow, Kagan  Tumer </td>
        <td class="tg-031e">When Less is More: Reducing Agent Noise with Probabilistically Learning Agents</td>
        </tr>
        <tr>
        <td class="tg-031e">Amina  Jarraya, Amel  Bouzeghoub, Amel  Borgi, Khedija  Arour </td>
        <td class="tg-031e">Distributed Collaborative Reasoning for HAR in Smart Homes</td>
        </tr>
        <tr>
        <td class="tg-031e">Florence  Ho, Ruben  Geraldes, Artur  Goncalves, Marc  Cavazza, Helmut  Prendinger </td>
        <td class="tg-031e">Simulating Shared Airspace for Service UAVs with Conflict Resolution</td>
        </tr>
        <tr>
        <td class="tg-031e">Dany  Rovinsky, Noa  Agmon </td>
        <td class="tg-031e">Distributed Accurate Formation Control Under Uncertainty</td>
        </tr>
        <tr>
        <td class="tg-031e">Hung The  Nguyen, Matthew  Garratt, Lam Thu  Bui, Hussein  Abbass </td>
        <td class="tg-031e">Apprenticeship Bootstrapping: Inverse Reinforcement Learning in a Multi-Skill UAV-UGV Coordination Task</td>
        </tr>
        <tr>
        <td class="tg-031e">Victoria  Edwards, Peter  Gaskell, Edwin  Olson </td>
        <td class="tg-031e">Calibrating Mixed Reality for Scalable Multi-Robot Experiments</td>
        </tr>
        <tr>
        <td class="tg-031e">Sasanka  Nagavalli, Ramitha  Sundar, Katia  Sycara </td>
        <td class="tg-031e">Exploiting Asynchrony in Multi-agent Consensus to Change the Agreement Point</td>
        </tr>
        <tr>
        <td class="tg-031e">Jean-Luc  Lugrin, Fred  Charles, Michael  Habel, Matthews  Jamie, Henrik  Dudaczy, Sebastian  Oberdorfer, Alice  Wittmann, Christian  Seufert, Julie  Porteous, Silke  Grafe, Marc Erich Latoschik </td>
        <td class="tg-031e">Benchmark Framework for Virtual Students' Behaviours</td>
        </tr>
        <tr>
        <td class="tg-031e">Ivan  Gris, David  Novick </td>
        <td class="tg-031e">Virtual Agent Interaction Framework (VAIF): A Tool for Rapid Development of Social Agents</td>
        </tr>
        <tr>
        <td class="tg-031e">Bart G.W. Craenen, Amol  Deshmukh, Mary Ellen  Foster, Alessandro  Vinciarelli </td>
        <td class="tg-031e">Shaping Gestures to Shape Personality: Big-Five Traits, Godspeed Scores and the Similarity-Attraction Effect</td>
        </tr>
        <tr>
        <td class="tg-031e">Lenin  Medeiros, Tibor  Bosse </td>
        <td class="tg-031e">Towards an Online Emotional Support Agent: Identifying Emotional Support Strategies via Crowdsourcing</td>
        </tr>
        <tr>
        <td class="tg-031e">Samuel S. Sohn, Xun  Zhang, Fernando  Geraci, Mubbasir  Kapadia </td>
        <td class="tg-031e">An Emotionally Aware Embodied Conversational Agent</td>
        </tr>
        <tr>
        <td class="tg-031e">Samuel S. Sohn, Serena  De Stefani, Mubbasir  Kapadia</td>
        <td class="tg-031e">Investigating the Role of Memory in Navigating Unseen Environments using Cognitive Maps</td>
        </tr>
        {#        ###################DAY 2####################}
        <tr bgcolor="#ff9900">
        <td class="tg-9353" colspan="2"><font color="red"><b>12 July 2018</b> <br>(15:30-17:00) </font></td>
        </tr>
        <tr>
<td class="tg-031e">Shauharda  Khadka, Connor  Yates, Kagan  Tumer </td>
<td class="tg-031e">A Memory-based Multiagent Framework for Adaptive Decision Making</td>
</tr>
<tr>
<td class="tg-031e">Saeid  SamadiDana, Roger  Mailler </td>
<td class="tg-031e">Analyzing the Effect of Information Stagnancy on the Distributed Stochastic Algorithm</td>
</tr>
<tr>
<td class="tg-031e">Lois  Vanhee, Laurent  Jeanpierre, Abdel-Illah  Mouaddib </td>
<td class="tg-031e">Towards Designing Multi-Agent Coverage Systems Capable of Anticipation and Tight Coordination with Detailed Environmental and Perception Models</td>
</tr>
<tr>
<td class="tg-031e">Yang  Liu, Ji  Liu, Tamer  Basar </td>
<td class="tg-031e">Gossip Gradient Descent</td>
</tr>
<tr>
<td class="tg-031e">Hsu-Chieh  Hu, Stephen F. Smith </td>
<td class="tg-031e">Bi-Directional Information Exchange in Decentralized Schedule-Driven Traffic Control</td>
</tr>
<tr>
<td class="tg-031e">Ajitesh  Srivastava, Rajgopal  Kannan, Charalampos  Chelmis, Viktor K. Prasanna </td>
<td class="tg-031e">FActCheck: Keeping Activation of Fake News at Check</td>
</tr>
{#<tr>#}
{#<td class="tg-031e">Antonio  Bucchiarone, Daniel  Furelos-Blanco, Anders  Jonsson, Fahmida  Khandokar, Monjur  Mourshed </td>#}
{#<td class="tg-031e">Collective Adaptation through Concurrent Planning: the Case of Sustainable Urban Mobility</td>#}
{#</tr>#}
<tr>
<td class="tg-031e">Olabambo I. Oluwasuji, Obaid  Malik, Jie  Zhang, Sarvapali D. Ramchurn </td>
<td class="tg-031e">Algorithms to Manage Load Shedding Events in Developing Countries</td>
</tr>
<tr>
<td class="tg-031e">Jan  Broersen, Aldo Ivan  Ramirez Abarca </td>
<td class="tg-031e">Formalising Oughts and Practical Knowledge without Resorting to Action Types</td>
</tr>
<tr>
<td class="tg-031e">Francesco  Belardinelli, Alessio  Lomuscio, Aniello  Murano, Sasha  Rubin </td>
<td class="tg-031e">Decidable Verification of Multi-agent Systems with Bounded Private Actions</td>
</tr>
<tr>
<td class="tg-031e">Natasha  Alechina, Brian  Logan </td>
<td class="tg-031e">Resource Logics with a Diminishing Resource</td>
</tr>
<tr>
<td class="tg-031e">Behnam  Torabi, Rym  Zalila-wenkstern, Robert  Saylor </td>
<td class="tg-031e">A Multi-Hop Agent-Based Traffic Signal Timing System for the City of Richardson</td>
</tr>
<tr>
<td class="tg-031e">Aparna  Gupta, Samarth  Swarup, Achla  Marathe, Anil  Vullikanti, Kiran  Lakkaraju, Joshua  Letchford </td>
<td class="tg-031e">Designing Incentives to Maximize the Adoption of Rooftop Solar Technology</td>
</tr>
<tr>
<td class="tg-031e">Tushar  Vaidya, Carlos  Murguia, Georgios  Piliouras </td>
<td class="tg-031e">Learning Agents in Financial Markets: Consensus Dynamics on Volatility</td>
</tr>
<tr>
<td class="tg-031e">Arnaud  Grignard, Nuria  Macia, Luis  Alonso Pastor, Ariel  Noyman, Yan  Zhang, Kent  Larson </td>
<td class="tg-031e">CityScope Andorra: A Multi-level Interactive and Tangible Agent-based Visualization</td>
</tr>
<tr>
<td class="tg-031e">Swapnil  Dhamal, Walid  Ben-Ameur, Tijani  Chahed, Eitan  Altman</td>
<td class="tg-031e">Optimal Multiphase Investment Strategies for Influencing Opinions in a Social Network</td>
</tr>
<tr>
<td class="tg-031e">Qingyu  Guo, Jiarui  Gan, Fei  Fang, Long  Tran-Thanh, Milind  Tambe, Bo  An </td>
<td class="tg-031e">Inducible Equilibrium for Security Games</td>
</tr>
<tr>
<td class="tg-031e">Dong Quan  Vu, Patrick  Loiseau, Alonso  Silva </td>
<td class="tg-031e">A Simple and Efficient Algorithm to Compute Epsilon-Equilibria of Discrete Colonel Blotto Games</td>
</tr>
<tr>
<td class="tg-031e">Rupert  Freeman, David M. Pennock </td>
<td class="tg-031e">An Axiomatic View of the Parimutuel Consensus Wagering Mechanism</td>
</tr>
<tr>
<td class="tg-031e">Haifeng  Xu, Shaddin  Dughmi, Milind  Tambe, Venil Loyd  Noronha </td>
<td class="tg-031e">Mitigating the Curse of Correlation in Security Games by Entropy Maximization</td>
</tr>
<tr>
<td class="tg-031e">Christopher  Archibald, Delma  Nieves-Rivera </td>
<td class="tg-031e">Execution Skill Estimation</td>
</tr>
<tr>
<td class="tg-031e">Nhat V.-Q. Truong, Sebastian  Stein, Long  Tran-Thanh, Nicholas R. Jennings </td>
<td class="tg-031e">Adaptive Incentive Selection for Crowdsourcing Contests</td>
</tr>
<tr>
<td class="tg-031e">Moshe  Bitan, Sarit  Kraus </td>
<td class="tg-031e">Combining Prediction of Human Decisions with ISMCTS in Imperfect Information Games</td>
</tr>
<tr>
<td class="tg-031e">Guy  Cohen, David  Sarne </td>
<td class="tg-031e">Timing Rating Requests for Maximizing Obtained Rating</td>
</tr>
<tr>
<td class="tg-031e">Aditya  Grover, Maruan  Al-Shedivat, Jayesh K. Gupta, Yura  Burda, Harrison  Edwards </td>
<td class="tg-031e">Evaluating Generalization in Multiagent Systems using Agent-Interaction Graphs</td>
</tr>
<tr>
<td class="tg-031e">Chengwei  Zhang, Xiaohong  Li, Jianye  Hao, Sandip  Sen, Wanli  Xue, Zhiyong  Feng </td>
<td class="tg-031e">The Dynamics of Opinion Evolution in Gossiper-Media Model with WoLS-CALA Learning</td>
</tr>
<tr>
<td class="tg-031e">Andrei  Lupu, Audrey  Durand, Doina  Precup </td>
<td class="tg-031e">Leveraging Observational Learning for Exploration in Bandits</td>
</tr>
<tr>
<td class="tg-031e">Anton  Andreychuk, Konstantin  Yakovlev </td>
<td class="tg-031e">Two Techniques That Enhance the Performance of Multi-robot Prioritized Path Planning</td>
</tr>
<tr>
<td class="tg-031e">Gilberto  Marcon dos Santos, Julie A. Adams </td>
<td class="tg-031e">Task Fusion Heuristics for Coalition Formation and Planning</td>
</tr>
<tr>
<td class="tg-031e">Francesco  Riccio, Roberto  Capobianco, Daniele  Nardi </td>
<td class="tg-031e">DOP: Deep Optimistic Planning with Approximate Value Function Evaluation</td>
</tr>
<tr>
<td class="tg-031e">Max  Korein, Manuela  Veloso </td>
<td class="tg-031e">Multi-Armed Bandit Algorithms for Spare Time Planning of a Mobile Service Robot</td>
</tr>
<tr>
<td class="tg-031e">Celso M de Melo, Peter  Khooshabeh, Ori  Amir, Jonathan  Gratch </td>
<td class="tg-031e">Shaping Cooperation between Humans and Agents with Emotion Expressions and Framing</td>
</tr>
<tr>
<td class="tg-031e">Hiroaki  Sugiyama, Toyomi  Meguro, Yuichiro  Yoshikawa, Junji  Yamato </td>
<td class="tg-031e">Avoiding Breakdown of Conversational Dialogue through Inter-Robot Coordination</td>
</tr>
<tr>
<td class="tg-031e">Lydia  OuldOuali, Nicolas  Sabouret, Charles  Rich </td>
<td class="tg-031e">I've Got the Power's Value! A Computational Model to Evaluate the Interlocutor's Behaviors in Collaborative Negotiation</td>
</tr>
<tr>
<td class="tg-031e">Frank  Forster, Kerstin  Dautenhahn, Chrystopher L. Nehaniv </td>
<td class="tg-031e">Motor Resonance as Indicator for Quality of Interaction - Does it Scale to Natural Movements?</td>
</tr>
<tr>
<td class="tg-031e">Christopher  Peters, Chengjie  Li, Fangkai  Yang, Vanya  Avramova, Gabriel  Skantze </td>
<td class="tg-031e">Investigating Social Distances between Humans, Virtual Humans and Virtual Robots in Mixed Reality</td>
</tr>
<tr>
    <td class="tg-031e">Masoume M. Raeissi, Alessandro  Farinelli </td>
    <td class="tg-031e">Learning Queuing Strategies in Human-Multi-Robot Interaction</td>
</tr>
<tr>
    <td class="tg-031e">Elizabeth A. Jensen, Maria Gini</td>
    <td class="tg-031e">Online Multi-Robot Coverage: Algorithm Comparisons</td>
</tr>
<tr>
<td class="tg-031e">Mathijs M. de Weerdt, Michael  Albert, Vincent  Conitzer, Koos van der Linden </td>
<td class="tg-031e">Complexity of Scheduling Charging in the Smart Grid</td>
</tr>
{#        ###################DAY 3####################}
        <tr bgcolor="#ff9900">
        <td class="tg-9353" colspan="2"><font color="red"><b>13 July 2018</b> <br>(15:30-17:00)</font></td>
        </tr>
        <tr>
        <td class="tg-031e">Antonio  Bucchiarone, Daniel  Furelos-Blanco, Anders  Jonsson, Fahmida  Khandokar, Monjur  Mourshed </td>
        <td class="tg-031e">Collective Adaptation through Concurrent Planning: the Case of Sustainable Urban Mobility</td>
        </tr>
        <tr>
        <td class="tg-031e">Maxime  Clement, Tenda  Okimoto, Katsumi  Inoue </td>
        <td class="tg-031e">Multi-Objective Distributed Pseudo-Tree Optimization</td>
        </tr>
        <tr>
        <td class="tg-031e">Tal  Ze'evi, Roie  Zivan, Omer  Lev </td>
        <td class="tg-031e">Socially Motivated Partial Cooperation in Multi-agent Local Search</td>
        </tr>
        <tr>
        <td class="tg-031e">Devin  Schwab, Yifeng  Zhu, Manuela  Veloso </td>
        <td class="tg-031e">Zero Shot Transfer Learning for Robot Soccer</td>
        </tr>
        <tr>
        <td class="tg-031e">Peter  Sunehag, Guy  Lever, Audrunas  Gruslys, Wojciech Marian Czarnecki, Vinicius  Zambaldi, Max  Jaderberg, Marc  Lanctot, Nicolas  Sonnerat, Joel Z. Leibo, Karl  Tuyls, Thore  Graeppel </td>
        <td class="tg-031e">Value-Decomposition Networks For Cooperative Multi-Agent Learning Based On Team Reward</td>
        </tr>
        <tr>
        <td class="tg-031e">Caroline  Player, Nathan  Griffiths </td>
        <td class="tg-031e">Addressing Concept Drift in Reputation Assessment</td>
        </tr>
        <tr>
        <td class="tg-031e">Onuralp  Ulusoy, P?nar  Yolum </td>
        <td class="tg-031e">PANO: Privacy Auctioning for Online Social Networks</td>
        </tr>
        <tr>
        <td class="tg-031e">Abdurrahman Can  Kurtan, P?nar  Yolum </td>
        <td class="tg-031e">PELTE: Privacy Estimation of Images from Tags</td>
        </tr>
        <tr>
        <td class="tg-031e">Viktor  Stojkoski, Zoran  Utkovski, Elisabeth  Andre, Ljupco  Kocarev </td>
        <td class="tg-031e">Multiplex Network Structure Enhances the Role of Generalized Reciprocity in Promoting Cooperation</td>
        </tr>
        <tr>
        <td class="tg-031e">Jing  Ma, Edmund M-K Lai </td>
        <td class="tg-031e">Incorporating Chorus Line Effect into a Cucker-Smale System for Fast Manoeuvre Tracking</td>
        </tr>
        <tr>
        <td class="tg-031e">Chad  Crawford, Rachna  Nanda Kumar, Sandip  Sen </td>
        <td class="tg-031e">Resisting Exploitation Through Rewiring in Social Networks: Social Welfare Increase using Parity, Sympathy and Reciprocity</td>
        </tr>
        <tr>
        <td class="tg-031e">Alexander  Carver, Paolo  Turrini </td>
        <td class="tg-031e">Intolerance does not Necessarily Lead to Segregation: A Computer-aided Analysis of the Schelling Segregation Model</td>
        </tr>
        <tr>
        <td class="tg-031e">Luca  Crociani, Giuseppe  Vizzari, Stefania  Bandini </td>
        <td class="tg-031e">Neither Dumb nor Optimal: Plausible Wayfinding in Pedestrian Agent-Based Models</td>
        </tr>
        <tr>
        <td class="tg-031e">Javier  Palanca, Stella  Heras, Paula Andrea  Rodriguez Marin, Nestor  Duque, Vicente  Julian </td>
        <td class="tg-031e">An Argumentation-based Conversational Recommender System for Recommending Learning Objects</td>
        </tr>
        <tr>
        <td class="tg-031e">Tiago  Oliveira, Jeremie  Dauphin, Ken  Satoh, Shusaku  Tsumoto, Paulo  Novais </td>
        <td class="tg-031e">Argumentation with Goals for Clinical Decision Support in Multimorbidity</td>
        </tr>
        <tr>
        <td class="tg-031e">Bohao  Wang, Hirotaka  Osawa, Ken  Satoh </td>
        <td class="tg-031e">How Implicit Communication Emerges during Conversation Game</td>
        </tr>
        <tr>
        <td class="tg-031e">Bruno  Yun, Madalina  Croitoru, Pierre  Bisquert, Srdjan  Vesic </td>
        <td class="tg-031e">Graph Theoretical Properties of Logic Based Argumentation Frameworks</td>
        </tr>
        <tr>
        <td class="tg-031e">Carla  Groenland, Guido  Schaefer </td>
        <td class="tg-031e">The Curse of Ties in Congestion Games with Limited Lookahead</td>
        </tr>
        <tr>
        <td class="tg-031e">Tomasz  Janus, Mateusz  Skomra, Marcin  Dziubinski </td>
        <td class="tg-031e">Individual Security and Network Design with Malicious Nodes</td>
        </tr>
        <tr>
        <td class="tg-031e">Barbara M. Anthony, Christine  Chung </td>
        <td class="tg-031e">How Bad is Selfish Doodle Voting?</td>
        </tr>
        <tr>
        <td class="tg-031e">Yongjie  Yang </td>
        <td class="tg-031e">Complexity of Controlling Nearly Single-Peaked Elections Revisited</td>
        </tr>
        <tr>
        <td class="tg-031e">Yongjie  Yang, Jianxin  Wang </td>
        <td class="tg-031e">Parameterized Complexity of Multi-winner Determination: More Effort Towards Fixed-Parameter Tractability</td>
        </tr>
        <tr>
        <td class="tg-031e">Mingyu  Xiao, Yuqing  Wang, Binglin  Tao </td>
        <td class="tg-031e">A Geometric Least Squares Method for Peer Assessment</td>
        </tr>
        <tr>
        <td class="tg-031e">Arianna  Novaro, Umberto  Grandi, Dominique  Longin, Emiliano  Lorini </td>
        <td class="tg-031e">From Individual Goals to Collective Decisions</td>
        </tr>
        <tr>
        <td class="tg-031e">Aurelie  Beynier, Nicolas  Maudet, Anastasia  Damamme </td>
        <td class="tg-031e">Fairness in Multiagent Resource Allocation with Dynamic and Partial Observations</td>
        </tr>
        <tr>
        <td class="tg-031e">Junzhe  Zhang, Elias  Bareinboim </td>
        <td class="tg-031e">Characterizing the Limits of Autonomous Systems</td>
        </tr>
{#        <tr>#}
{#        <td class="tg-031e">Mathijs M. de Weerdt, Michael  Albert, Vincent  Conitzer, Koos van der Linden </td>#}
{#        <td class="tg-031e">Complexity of Scheduling Charging in the Smart Grid</td>#}
{#        </tr>#}
        <tr>
        <td class="tg-031e">Hang  Ma, Glenn  Wagner, Ariel  Felner, Jiaoyang  Li, T. K. Satish  Kumar, Sven  Koenig </td>
        <td class="tg-031e">Multi-Agent Path Finding with Deadlines: Preliminary Results</td>
        </tr>
        <tr>
        <td class="tg-031e">Gianluca  Torta, Roberto  Micalizio </td>
        <td class="tg-031e">SMT-Based Diagnosis of Multi-Agent Temporal Plans</td>
        </tr>
        <tr>
        <td class="tg-031e">Mor  Vered, Ramon Fraga Pereira, Mauricio C. Magnaguagno, Gal A. Kaminka, Felipe  Meneguzzi </td>
        <td class="tg-031e">Towards Online Goal Recognition Combining Goal Mirroring and Landmarks</td>
        </tr>
        <tr>
        <td class="tg-031e">Liron  Cohen, Glenn  Wagner, David  Chan, Sven  Koenig, Howie  Choset, Nathan  Sturtevant, T. K. Satish  Kumar </td>
        <td class="tg-031e">Rapid Randomized Restarts for Multi-Agent Path Finding: Preliminary Results</td>
        </tr>
        <tr>
        <td class="tg-031e">Dor  Atzmon, Roni  Stern, Ariel  Felner, Glenn  Wagner, Roman  Bartak, Neng-Fa  Zhou </td>
        <td class="tg-031e">Robust Multi-Agent Path Finding</td>
        </tr>
        <tr>
        <td class="tg-031e">Shun  Zhang, Edmund H. Durfee, Satinder  Singh </td>
        <td class="tg-031e">On Querying for Safe Optimality in Factored Markov Decision Processes</td>
        </tr>
        <tr>
        <td class="tg-031e">Daniel A. M. Moreira, Karina V. Delgado, Leliane  Nunes de Barros </td>
        <td class="tg-031e">Symbolic Dynamic Programming for Risk-sensitive Markov Decision Process with limited budget</td>
        </tr>
        <tr>
        <td class="tg-031e">Anay  Pattanaik, Zhenyi  Tang, Shuijing  Liu, Gautham  Bommannan, Girish  Chowdhary </td>
        <td class="tg-031e">Robust Deep Reinforcement Learning with Adversarial Attacks</td>
        </tr>
        <tr>
        <td class="tg-031e">James  Butterworth, Bastian  Broecker, Karl  Tuyls, Paolo  Paoletti </td>
        <td class="tg-031e">Evolving Coverage Behaviours For MAVs Using NEAT</td>
        </tr>
        <tr>
        <td class="tg-031e">Riccardo  Sartea, Alessandro  Farinelli </td>
        <td class="tg-031e">Detection of Intelligent Agent Behaviors Using Markov Chains</td>
        </tr>
        <tr>
        <td class="tg-031e">Mayukh  Das, Phillip  Odom, Md. Rakibul  Islam, Janardhan Rao Doppa, Dan  Roth, Sriraam  Natarajan </td>
        <td class="tg-031e">Preference-Guided Planning: An Active Elicitation Approach</td>
        </tr>
        <tr>
        <td class="tg-031e">Anil  Sharma, Arun Balaji Buduru </td>
        <td class="tg-031e">Foresee: Attentive Future Projections of Chaotic Road Environments</td>
        </tr>
        <tr>
        <td class="tg-031e">Chengwei  Zhang, Xiaohong  Li, Jianye  Hao, Siqi  Chen, Karl  Tuyls, Zhiyong  Feng </td>
        <td class="tg-031e">SCC-rFMQ Learning in Cooperative Markov Games with Continuous Actions</td>
        </tr>
        <tr>
        <td class="tg-031e">Adam  Allevato, Andrea  Thomaz, Mitch  Pryor </td>
        <td class="tg-031e">Affordance Discovery using Simulated Exploration</td>
        </tr>
{#        <tr>#}
{#        <td class="tg-031e">Masoume M. Raeissi, Alessandro  Farinelli </td>#}
{#        <td class="tg-031e">Learning Queuing Strategies in Human-Multi-Robot Interaction</td>#}
{#        </tr>#}
        <tr>
        <td class="tg-031e">Stevan  Tomic, Alicja  Wasik, Pedro U. Lima, Alcherio  Martinoli, Federico  Pecora, Alessandro  Saffiotti </td>
        <td class="tg-031e">Towards Institutions for Mixed Human-Robot Societies</td>
        </tr>
        <tr>
        <td class="tg-031e">Tathagata  Chakraborti, Sarath  Sreedharan, Subbarao  Kambhampati </td>
        <td class="tg-031e">Explicability versus Explanations in Human-Aware Planning</td>
        </tr>
        <tr>
        <td class="tg-031e">Elena Corina  Grigore, Olivier  Mangin, Alessandro  Roncone, Brian  Scassellati </td>
        <td class="tg-031e">Predicting Supportive Behaviors for Human-Robot Collaboration</td>
        </tr>
        <tr>
        <td class="tg-031e">Jerome  Guzzi, Alessandro  Giusti, Luca M. Gambardella, Gianni A. Di Caro</td>
        <td class="tg-031e">Artificial Emotions as Dynamic Modulators of Individual and Group Behavior in Multi-robot System</td>
        </tr>
        <tr>
        <td class="tg-031e">Klaus  Weber, Hannes  Ritschel, Florian  Lingenfelser, Elisabeth  Andre</td>
        <td class="tg-031e">Real-Time Adaptation of a Robotic Joke Teller Based on Human Social Signals</td>
        </tr>
        <tr>
        <td class="tg-031e">Peter Edward McKenna, Ayan  Ghosh, Ruth  Aylett, Frank  Broz, Ingo  Keller, Thusha  Rajendran </td>
        <td class="tg-031e">Robot Expressive Behaviour and Autistic Traits</td>
        </tr>
        <tr>
        <td class="tg-031e">Zian  Zhao, Michael  Madaio, Florian  Pecune, Yoichi  Matsuyama, Justine  Cassell </td>
        <td class="tg-031e">Socially-Conditioned Task Reasoning for a Virtual Tutoring Agent</td>
        </tr>
        <tr>
        <td class="tg-031e">Joana  Campos, Carlos  Martinho, Ana  Paiva </td>
        <td class="tg-031e">Modelling Conflict Dynamics in Dyadic Interactions</td>
        </tr>
        <tr>
        <td class="tg-031e">Alexis David  Jacq, Julien  Magnan, Maria Jose  Ferreira, Pierre  Dillenbourg, Ana  Paiva </td>
        <td class="tg-031e">Sensitivity To Perceived Mutual Understanding In Human-Robot Collaborations</td>
        </tr>
        <tr>
        <td class="tg-031e">Jason  Wu, Sayan  Ghosh, Mathieu  Chollet, Steven  Ly, Sharon  Mozgai, Stefan  Scherer </td>
        <td class="tg-031e">NADiA - Towards Neural Network Driven Virtual Human Conversation Agents</td>
        </tr>
    </table>
    <br>
</div>

{% endblock %}