{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <div>
        <h2>Social Events at AAMAS 2018</h2>

<h3>Conference Dinner</h3>

<img id="yellowBanner" src="{% static "images/solliden.jpg" %}" height=200>
{#<p><img width=428 height=245 src="solliden.jpg"></p>#}

<p><b>Solliden</b> is a famous restaurant in
the heart of <b>Skansen</b> – which is the world’s oldest
open-air museum showcasing houses and farmsteads collected from
every part of Sweden. Solliden was constructed between 1950-1952 and offers a unique view
over Stockholm.</p>

<p>On July 12, we will meet there at 19:30 to have a welcome drink; at
20:00 the three course meal will start. Awards will be presented
during the conference dinner, which will end around 23:00.</p>

<p>We recommend that you travel to Solliden/Skansen on
public transportation using your SL travel card. Sitting in Stockholm traffic jams is
no fun, whereas enjoying a
short walk along the water or taking the popular tram no. 7 is a pleasant
experience. Detailed instructions for how to reach Solliden
can be found <a href={% static "files/WayToSkansen.pdf" %}>here (pdf file)</a>.
These instructions are also available via the Whova app</p>

<p>Entrance to Skansen is included,
you need to show your badge/ticket at the entrance to Skansen.</p>

<p></p>


<h3>Closing Reception / Shared FAIM Reception<o:p></o:p></h3>

<p>On Sunday, July 15 19:00-22:00 ICML, IJCAI and AAMAS invite
all attendees to a joint reception at “Sollidenscen” – an open
space with a famous stage in front of the Solliden restaurant which is
famous for concerts and
“all-sång” events.</p>

<p>There, you will have an opportunity to enjoy drinks and
food while mingling with participants from all three conferences. You may also
join other activities in Skansen under the topic “Svenska sommartraditioner”
(20:00-21:00) such as folk music and folk dance. The park environment with
animals and the old houses will be open for the participants until 22.00, with
some activities continuing until 21.00.</p>

<p>There will be a special entrance gate to Skansen
for the participants, with folk musicians accompanying you to Sollidenscen.
Entrance fee is included; you need to show your
badge/ticket at the entrance. As with the conference dinner, we expect that you
use public transportation. This reception will be outside.
Be prepared that temperatures in the evening/night – despite the late
sunset – may require some warm jacket. If it is raining, there will be tents. </p>


<h3>Scavenger Hunt @ AAMAS 2018</h3>

<p>All students
attending the Doctoral Consortium (DC) at AAMAS 2018 are welcome to
participate in the scavenger hunt competition. Teams will be formed according to rules to be announced on July
10th during the DC. All teams have some time (between July 10th and the
deadline on the 12th) to try to accomplish a list of tasks. Each task awards
points according to the correctness and degree of completeness. The winning
team will be announced during the community meeting.<o:p></o:p></p>

<p>Contact: Ana Bazzan (bazzan@inf.ufrgs.br) or Birgit Lugrin (birgit.lugrin@uni-wuerzburg.de)</p>


<h3>Lunch with an Expert</h3>

<p>“Lunch with an Expert” is open to student attendees of AAMAS. The following researchers will take
groups of 6 students to lunch, which
provides a good opportunity to ask questions and socialize both with
the expert and other students. The lunch is free, courtesy of IFAAMAS.<o:p></o:p></span></p>
<p>
    <ul>
        <li>
            July 11
            <a href="http://pages.isir.upmc.fr/~pelachaud/">Catherine Pelachaud</a>
        </li>
        <li>
            July 12
            <a href="http://ai.eecs.umich.edu/people/durfee/">Ed Durfee</a>
        </li>
        <li>
            July 12
            <a href="https://users.cs.duke.edu/~conitzer">Vince Conitzer</a>
        </li>
        <li>
            July 13
            <a href="http://idm-lab.org/">Sven Koenig</a>
        </li>
        <li>
            July 13
            <a href="http://people.ict.usc.edu/~gratch/">Jonathan Gratch</a>
        </li>
        <li>
            July 13
            <a href="https://www.eecs.harvard.edu/~parkes/">David Parkes</a>
        </li>
        <li>
            July 13
            <a href="http://agent.inf.kyushu-u.ac.jp/~yokoo/">Makoto Yokoo</a>
        </li>

    </ul>
</p>


<p>Sign-up sheets will be available in the registration area, starting at July 10. If you
can't find them, please ask at the registration desk.</p>

<p>Contact: Maria Gini (gini@umn.edu)</p>

 <h3>Diversity Lunch</h3>

    <p>
        AAMAS 2018 will be holding a women’s networking and
        mentoring lunch on Wednesday, July 13th. Since we do have space constraints, if
        you are interested in attending, then please register in advance by filling out
        our questionnaire by July 10th, 2018. Note that while the food is
        sponsored, you need to pay the drinks yourself. <o:p></o:p>
    </p>

    <p><a href="https://goo.gl/forms/VFUwxJ7rHViV14GG2">https://goo.gl/forms/VFUwxJ7rHViV14GG2</a></p>

    <p>
        Contact: Kate Larsson (kate.larson@uwaterloo.ca) or Elisabeth
        André (andre@informatik.uni-augsburg.de)
    </p>


<h3>AAMAS Football Game<o:p></o:p></h3>

    <p>
        We are pleased to announce the AAMAS Football Tournament
        (AAMAS Football 2018) at the conference, which has a longstanding tradition
        within the AAMAS community. This year the tournament will be held at Solberga
        ball field between 19:00-21:00, Friday 13th July 2018.
    </p>

    <p>
        <img id="solberga" src="{% static "images/Solberga.jpg" %}" height="150">
{#        <img border=0 width=380 height=214#}
{#                             src="Solberga.jpg" alt="Solberga ball field"#}
    </p>

    <p>
        Note that while the tournament started as a friendly
        football match between researchers from the US and Europe, in the last few
        years researchers from other continents had also joined the
        tournament. However, for the tradition, we still keep the format of US vs. European
        teams (but in fact anyone can join). <o:p></o:p>
    </p>

    <p>
        If you would like to play, please contact one of
        the following organisers:<br>
            <ul>
                <li>Amulya Yadav (US team): amulyaya@usc.edu</li>
                <li>Long Tran-Thanh (European team): l.tran-thanh@soton.ac.uk</li>
        </ul>

    </p>
    </div>
{% endblock %}