{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
{#    {% load staticfiles %}#}
    <div>
    <h3><u>About AAMAS</u></h3>
    AAMAS is the leading scientific conference for research in autonomous agents and multiagent systems, attracting
    about 500 attendees every year from all over the world. The AAMAS conference series was initiated in 2002 by merging
    three highly respected meetings: the International Conference on Multi-Agent Systems (ICMAS); the International
    Workshop on Agent Theories, Architectures, and Languages (ATAL); and the International Conference on Autonomous
    Agents (AA). The aim of the joint conference is to provide a single, high-profile, internationally respected archival
    forum for scientific research in the theory and practice of autonomous agents and multiagent systems.
    <br><br>

    <h4><u>SPONSORSHIP LEVELS</u></h4>
<h5 dir="ltr" ><u>Platinum Package - 15,000 USD</u></h5>

EXHIBITION BOOTH: 18 sqm
<ul>
<li>This sponsorship package includes a 18 sqm exhibition area
</li>
</ul>
COMPANY LOGO and/or ADVERTISEMENT

<ul>
<li>The company will be announced as “Platinum Sponsor” through the conference official web site
</li>
<li>The company logo will be used at the conference official web page with a link to the company website
</li>
<li>The company logo will be used on program book
</li>
<li>1 full page advertisement at the inside &amp; outside back cover of the final program book
</li>
</ul>

OTHER BENEFITS:
<ul>
<li>During the Opening Ceremony and Closing Ceremony you will be announced as Platinum Sponsor and given a certificate of thanks during the Closing Ceremony
</li>
<li>4 Free Registrations (banquet included)
</li>
</ul>

<br>
<h5 dir="ltr" ><u>Gold Package - 7,500 USD</u></h5>
EXHIBITION BOOTH: 9 sqm

<ul>
<li>This sponsorship includes a 9 sqm exhibition area
</li>
<li>Companies can put their logo and advertise in the poster area, where up to 100 posters would be presented in one session
</li>
</ul>

COMPANY LOGO and/or ADVERTISEMENT
<ul>
<li>The company will be announced as “Gold Sponsor” through the conference official web site
</li>
<li>The company logo will be used at the conference official web page with a link to the company website

</li>
<li>The company logo will be used on program book
</li>
</ul>
OTHER BENEFITS:
<ul>
<li>During the Opening Ceremony and Closing Ceremony you will be announced as Gold Sponsor and given a certificate of thanks during the Closing Ceremony
</li>
<li>3 Free Registrations (banquet included)
</li>
</ul>
<br>

<h5 dir="ltr" ><u>Silver Package - 5,000 USD</u></h5>
EXHIBITION BOOTH: 9 sqm
<ul>
<li>This sponsorship includes s 9 sqm exhibition area
</li>
<li>Companies can put their logo and advertise in the poster area, where up to 100 posters would be presented in one session
</li>
</ul>
COMPANY LOGO and/or ADVERTISEMENT
<ul>
<li>The company will be announced as “Silver Sponsor” through the conference official web site
</li>
<li>The company logo will be used at the conference official web page with a link to the company website
</li>
<li>The company logo will be used on program book
</li>
</ul>

OTHER BENEFITS:
<ul>
<li>During the Opening Ceremony and Closing Ceremony you will be announced as Silver Sponsor and given a certificate of thanks during the Closing Ceremony
</li>
<li>2 Free Registrations (banquet included)
</li>
</ul>

<br>
<h5 dir="ltr" ><u>Bronze Package - 2,500 USD</u></h5>
COMPANY LOGO and/or ADVERTISEMENT
<ul>
<li>The company will be announced as “Bronze Sponsor” through the conference official web site
</li>
<li>The company logo will be used at the conference official web page with a link to the company website
</li>
<li>The company logo will be used on program book
</li>
</ul>

OTHER BENEFITS:
<ul>
<li>During the Opening Ceremony and Closing Ceremony you will be announced as Bronze Sponsor and given a certificate of thanks during the Closing Ceremony.
</li>
<li>2 Free Registration (banquet included)
</li>
</ul>
<br>
<h5 dir="ltr" ><u>Iron Package - 1,500 USD</u></h5>
COMPANY LOGO and/or ADVERTISEMENT
<ul>
<li>The company will be announced as “Iron Sponsor” through the conference official web site
</li>
<li>The company logo will be used on program book
</li>
</ul>

OTHER BENEFITS:
<ul>
<li>During the Opening Ceremony and Closing Ceremony you will be announced as Iron Sponsor and given a certificate of thanks during the Closing Ceremony
</li>
<li>1 Free Registration (banquet included)
</li>
</ul>



    </div>
{% endblock %}