{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
{#    {% load staticfiles %}#}
    <div>
        <h3><u>Student Travel Support</u></h3>
        <br>
        Seventeenth International Conference on Autonomous Agents and Multiagent Systems
        <br>
        July 10-15, 2018, Stockholm, Sweden

    <br><br>
    <h5><u><b>Important Dates</b></u></h5>
        <ul>
            <li>Application Submission: 28th of February 2017 (23:59 UTC-12)
            <li>Notification: 17th of March 2018 (23:59 UTC-12)
        </ul>
        <br>

        We are delighted to announce funding for AAMAS-18 student travel support. The purpose is to enable graduate students
        to travel and participate in the conference. To be eligible, you must:
        <ul>
            <li>be registered as a full-time student at a higher education institution (e.g. University); AND
            <li>be explicitly listed as an author of a paper accepted for AAMAS-18 (full | extended abstract | workshop).
        </ul>
        The order of priority for awards is as follows:
        <ul>
            <li>students presenting a full paper accepted at the conference main and special tracks;
            <li>students presenting at the doctoral consortium;
            <li>students presenting posters at the main conference; and
            <li>students presenting at workshops.
        </ul>
        To the extent that funds allow, we also hope to support students whose research will benefit from attendance at the conference.
        We anticipate different levels of funding based on geographic location (distance to conference venue,
        underrepresented regions), level of participation, and so on, covering most of the travel costs. We particularly
        encourage student scholarship applications from underrepresented regions.

        <h4><u><b>Submission Requirements</b></u></h4>
        To apply, you are required to complete the Student Scholarship Application Form at
        <a href="https://goo.gl/bav3cn">https://goo.gl/bav3cn</a>
        <br>
        You will need to provide your participation details for AAMAS-18 as well as a pdf with a scanned student ID card
        certifying you are registered as a full-time student.
        <br>
        Please note that participation in the student scholarship program carries with it an obligation to be a student
        volunteer during the conference and, in the case of US applicants, to participate in the doctoral mentoring consortium.
        <br>
        Student volunteers are often used to provide support in the various conference rooms in case of problems
        (e.g., projector failure, etc).
        <br><br>
        Please submit your application by February 28, 2018 (11:59pm, UTC-12) via the web form shown above. We will notify
        you of your application decision by March 17, 2018  (11:59pm, UTC-12).
        <br><br>
        <b>Scholarship Chairs:</b>
        <br>
        Julian Padget (University of Bath)
        <br>
        Sanem Sariel (Istanbul Technical University)
        <br>
        William Yeoh (Washington University in St. Louis)
        <br>
        E-mail: aamasscholarshipchairs@gmail.com<br>

    <br><br>

    </div>
{% endblock %}



