{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h4><u>Traveling</u></h4>
{#        <div class="col-sm-7">#}
        <div>
            <p>Stockholm as the capital of Sweden is well connected and easy to reach by plane, train or bus.
            There are even regular connections by ship to Stockholm. The webpage <a href="https://www.visitstockholm.com/">https://www.visitstockholm.com/</a>
            gives excellent information on Stockholm, how to reach it and what to do here. </p>

            <p>

            <b><u>Traveling to Stockholm</u></b><br>

            <p>There are four airports in the Stockholm area, but only two
            of them are really in or well connected to Stockholm center. We describe here
            how to reach Stockholm Central Station. On the tab about the conference venue, you
            can find information about how to reach Stockholmsmässan from Stockholm Central Station.</p>

            <p>The main international airport in Stockholm is <a
            href="https://www.swedavia.com/arlanda/">Stockholm-Arlanda (ARN)</a>. It is
            located ca. 40km north of the city centre, between Stockholm and Uppsala. It is one of the
            major hubs for Scandinavian Airlines (Star Alliance Member) and offers frequent
            flights to and from major European cities and beyond. Also a number of low-cost
            airlines, such as Norwegian fly to Arlanda. The airport has 5 terminals, yet has
            a convenient size with short walking distances. </p>

            <p>From each of the terminals one can access a high-speed train
            called <a href="https://www.arlandaexpress.com/">Arlanda Express</a> to Stockholm Central Station that takes only 20 minutes
            (but costs 280SEK = ca. &#036;34 or &euro;28). Arlanda Express leaves the airport every
            15 minutes. </p>

            <p>Arlanda Airport also has a railway station: Arlanda C
            between Terminal 5 and Terminal 4 in “Sky City” and offers commuter train
            connections – twice per hour – to Stockholm Central Station. That journey takes
            about 40 to 45 minutes. There is a special fee for traveling to Arlanda by
            train, so the prices are slightly higher.</p>

            <p>The cheapest possibility from Arlanda to Stockhom is offered
            by a bus company called <a href="https://www.arlandaexpress.com/">Flybussarna</a>. Their buses cost 99SEK (if ticket is
            bought on the internet, slightly higher if bought at the driver or the ticket
            machines at the airport). The busses to Stockholm Central Station take ca. 45
            minutes. They also connect to other destinations in the Stockholm area, yet not
            to &Auml;lvsjo/Stockholmsm&auml;ssan. </p>

            <p>Of course, all major rental car companies are present at
            Arlanda Airport. If you do not want to drive, taxis are also available. </p>

            <p>The other three airports are </p>

            <ul>
            <li><a href="https://www.swedavia.com/bromma/">Bromma</a> Stockholm
            Airport with mostly national connections and only a few international ones, is located
            rather centrally in the Stockholm area. <a
            href="https://www.flygbussarna.se/en/Bromma">Flygbussarna</a> also connects
            Bromma to the Central Station. The trip takes about 20 minutes and leaves
            Bromma every 20 minutes during the day. </li>

            <li><a href="https://www.skavsta.se/en/">Skavska Airport</a> is
            located more than 100km south west of Stockholm. Ryanair operates from Skavska.
            Also Flygbussarna connect Skavska and Stockholm Central with buses departing
            20-30 minutes after arrivals.</li>

            <li><a
            href="http://vasterasairport.se/engelska-sidor/stockholm---vasteras-airport.html">V&auml;ster&aring;s
            Airport</a> is located more than 100km north west of Stockholm. It is mainly
            Ryanair that uses this airport. Also this airport is served by Flygbussarna in
            connection with scheduled flights. There are also local busses that connect to
            V&auml;ster&aring;s railway station from where there it takes 1h by train to Stockholm
            Central Station.</li>
            </ul>


            <p>Stockholm Central Station is also a major train hub. The <a
            href="https://www.sj.se/en/home.html#/">Swedish Railway Company SJ</a> connects
            not just to other major cities in Scandinavia, but also beyond. For example, using
            a fast train, it takes ca. 5h 30 minutes to travel between Copenhagen Central
            Station and Stockholm Central Station. The earlier a ticket is booked, the
            cheaper it is. Sweden is a country in which there are still comfortable night
            trains.</p>

            <p>For more details about traveling by plane to Stockholm, see <a
            href="https://www.visitstockholm.com/good-to-know/to-and-from-the-airports/">https://www.visitstockholm.com/good-to-know/to-and-from-the-airports/</a>.</p>


            <b><u>Traveling within Stockholm</u></b><br>

            <p>It is not really recommended to drive a car in Stockholm. A
            congestion toll has been introduced a couple of years ago and parking costs a
            fortune. The public transportation network is excellent, so there is actually
            no need to use a car. There are busses, trams, commuter trains, even boats that
            transport persons to any area in town. The network is operated by <a
            href="https://sl.se/en/">SL</a>. All registered participants will receive a SL
            Travel card that gives access to the network, including the train to &Auml;lvsj&ouml;
            were Stockholmsm&auml;ssan is located. </p>

        </div>
{#        <div class="col-sm-5">#}
{#            <div id = "gmapDiv">#}
{#                <iframe id="gmapFrame" src="https://www.google.com/maps/d/embed?mid=1-grduo37mkzs3YlhvaNzNFtCrWq0NXrA" position="absolute" width="640" height="480"></iframe>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}