{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div>
        <h3><u>Victor Lesser Distinguished Dissertation Award</u></h3>
    <br>

    <div class="row">
        <div class="col-sm-3">
            <img id="aij" src="{% static "images/Ariel.JPG" %}" height="270" width="190">
        </div>
        <div class="col-sm-9">
            <h5><u>Ariel Rosenfeld</u></h5>
            <br>
            Short Bio: Ariel is a Koshland Postdoctoral Fellow at the Computer Science & Applied Mathematics Department, Weizmann Institute of Science, Israel. He obtained a PhD in Computer Science from Bar-Ilan University following a BSc in Computer Science and Economics, graduated `magna
            cum laude', from Tel-Aviv University, Israel. Rosenfeld's research focus is Human-Agent Interaction and he has published on the topic at top venues such as AAMAS, IJCAI, AAAI and ECAI. Rosenfeld has a rich lecturing background which spans over a decade and
            has recently been awarded the ``Best Lecturer" award for outstanding teaching by Bar-Ilan University, Israel.
            <br><br>
            Title: Strategic Human-Agent Interaction: From Promoting Traffic Safety to Search and Rescue
            <br><br>
            Abstract: As technology progresses, we find ourselves working with automated agents increasingly more often. Developing intelligent automated agents capable of interacting proficiently with people necessitates the development of integrative approaches which consider both the computational and human factors. In this talk, I will present three of my integrated research efforts towards developing intelligent agents with real-world impact, ranging from "adversarial" settings such as apprehending reckless drivers to fully cooperative settings such as robotic search and rescue.  Through extensive empirical evaluations, we demonstrate how the integration of AI and agent technologies (including machine learning and optimization) with behavioral sciences such as psychology and economics can bring about a much desired leap in the way we develop human interacting agents for social good.
            <br><br>
        </div>
    </div>
{#    Nominations are invited for the 2017 Victor Lesser Distinguished Dissertation Award sponsored by IFAAMAS,#}
{#    the International Foundation for Autonomous Agents and Multiagent Systems (<a href="http://www.ifaamas.org">http://www.ifaamas.org</a>)#}
{#    and to be presented at AAMAS-2018 (<a href="http://celweb.vuse.vanderbilt.edu/aamas18/">http://celweb.vuse.vanderbilt.edu/aamas18/</a>).#}
{#    <br><br>#}
{#    Eligible doctoral dissertations are those defended between January 1, 2017 and December 31, 2017 in the area of#}
{#    Autonomous Agents or Multiagent Systems. This award includes a certificate and a 1500EUR payment.#}
{#    <br><br>#}
{#    The selection of the dissertation will be based on the originality, significance, and impact of the work. Evidence of such impact include#}
{#    publications at highly selective conferences and journals in the field, with#}
{#    due importance given to the AAMAS conference series and JAAMAS. Research#}
{#    output that resulted primarily from the student's initiative will be#}
{#    considered more favorably. The selection committee will be the final#}
{#    arbiter in the decision process. The selection committee might decide to#}
{#    consult external assessors and reserves the right to not award the prize if#}
{#    the nominations do not meet the expected quality level.#}
{#    <br><br>#}
{#    The dissertation must be nominated by the thesis supervisor and must be#}
{#    supported by the following documents (the documents must be placed on a web#}
{#    page and only a link to this page e-mailed to Karl Tuyls, <a href="mailto:karltuyls@google.com?Subject=Victor Lesser Distinguished Dissertation Award 2018">karltuyls@google.com</a>#}
{#    on or before February 26, 2018):#}
{#    <ul>#}
{#        <li> A PDF file of the dissertation. If the dissertation is not written in#}
{#            English, the nomination must include a substantial manuscript in English,#}
{#            with the nominee as the first author, published in a journal or a#}
{#            prestigious conference.#}
{#        <li>#}
{#            A list of citations to published papers based primarily on this#}
{#            dissertation with links to corresponding PDF files.#}
{##}
{#        <li> A recommendation from the dissertation supervisor, on departmental#}
{#        letterhead, nominating the dissertation for the IFAAMAS-17 Victor Lesser#}
{#        Distinguished Dissertation Award. The recommendation should argue the merit#}
{#        of the dissertation and highlight, where relevant, how the work resulted#}
{#        from the initiative of the student. This document, not to exceed 500 words,#}
{#        should also certify the eligibility of the PhD by asserting that the PhD#}
{#        was defended in calendar year 2017.#}
{##}
{#        <li> The names, email addresses, and affiliations of at most three#}
{#        referees, familiar with the research of the candidate and experts in the#}
{#        pertinent research area, who will directly email their recommendations for#}
{#        the candidate to the chair of the selection committee. It is the#}
{#        responsibility of the dissertation supervisor to contact the referees and#}
{#        ensure that the letters are submitted by the deadline. A reference letter#}
{#        should be no more than 500 words in length and should be on official#}
{#        letterhead, signed and emailed as scanned PDF file.#}
{##}
{#    </ul>#}
{#        NOTE: IT IS THE RESPONSIBILITY OF THE DISSERTATION SUPERVISOR TO#}
{#        CONTACT THE REFEREES AND ENSURE THAT LETTERS (max 500 words, signed,#}
{#        and on letterhead) ARE SUBMITTED BY THE DEADLINE.#}
{#    <br><br>#}
{##}
{#        Though the nomination is to be submitted by the nominee's dissertation#}
{#        supervisor, it is required that the nominee has consented that the#}
{#        dissertation be considered for this award and, if selected for the award,#}
{#        commits to attend the AAMAS-2018 conference, where she/he will receive the#}
{#        award, and will give an hour-long presentation in a special session of the#}
{#        conference on the work contained in the dissertation. The cost of attending#}
{#        the conference is not covered by the award.#}
{#    <br><br>#}
    </div>
    {% endblock %}