{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
{#    {% load staticfiles %}#}
    <div>
        <ul>
            <li><a href="https://sites.google.com/view/kdhd-2018/">The 3rd International Workshop on Knowledge Discovery in Healthcare Data</a></li>
            <li><a href="http://ifipgroup.com/">Artificial Intelligence for Knowledge Management</a></li>
            <li><a href="http://iotap.mah.se/mabs2018/">19th International Workshop on Multi-Agent-Based Simulation (MABS 2018)</a></li>
            <li><a href="https://sites.google.com/site/trustworkshop2018">TRUST Workshop</a></li>
            <li><a href="http://arakilab.media.eng.hokudai.ac.jp/LACATODA2018/">Linguistic and Cognitive Approaches To Dialog Agents (LaCATODA 2018)</a></li>
            <li><a href="http://www.ai.soc.i.kyoto-u.ac.jp/mmas2018/">International Workshop on Massively Multi-Agent Systems</a></li>
            <li><a href="http://cadia.ru.is/workshops/aegap2018">Architectures and Evaluation for Generality, Autonomy and Progress in AI (AEGAP)</a></li>
            <li><a href="http://sots.brookes.ac.uk/~p0072382/ai4h2018/">Workshop on AI in Health</a></li>
            <li><a href="https://mltrain.cc/events/enabling-reproducibility-in-machine-learning-mltrainrml-icml-2018/">Enabling Reproducibility in Machine Learning MLTrain@RML</a></li>
            <li><a href="http://ala2018.it.nuigalway.ie/">Adaptive and Learning Agents 2018</a></li>
            <li><a href="https://www.ijcai-boom.org">The 3rd International workshop on biomedical informatics with optimization and machine learning (BOOM)</a></li>
            <li><a href="https://userpages.umbc.edu/~cq13453/CompPsy/">AI and Computational Psychology: Theories, Algorithms and Applications (CompPsy)</a></li>
            <li><a href="https://sites.google.com/view/goalsrl">Goal Specifications for Reinforcement Learning</a></li>
            <li><a href="http://socinf-maison-2018.isistan.unicen.edu.ar/">The Joint International Workshop on Social Influence Analysis and Mining Actionable Insights from Social Networks (SocInf+MAISoN 2018)</a></li>
            <li><a href="http://cfpm.org/scs18">First international workshop on socio-cognitive systems</a></li>
            <li><a href="http://gimli.cc/">Geometry in Machine Learning (GiMLi)</a></li>
            <li><a href="http://www.iiia.csic.es/LR2018/">Learning and Reasoning: Principles &amp; Applications to Everyday Spatial and Temporal Knowledge</a></li>
            <li><a href="https://www.zurich.ibm.com/AI4IoT">Workshop on AI for Internet of Things</a></li>
            <li><a href="http://www-personal.umich.edu/~fioretto/cfp/OPTMAS18">International Workshop on Optimization in Multi-Agent Systems (OptMAS)</a></li>
            <li><a href="http://mrc.kriwi.de/2018/">Tenth International Workshop Modelling and Reasoning in Context (MRC)</a></li>
            <li><a href="http://alaw2018.apice.unibo.it">ALAW – Agents Living in Augmented Worlds</a></li>
            <li><a href="http://ds-o.org/index.php/workshops/dsoatfaim2018">Data Science meets Optimization DSO@FAIM18WS</a></li>
            <li><a href="http://airtlab.dii.univpm.it/rtcmas/index.html">International Workshop on Real Time compliant Multi-Agent Systems (RTcMAS)</a></li>
            <li><a href="https://sites.google.com/view/arial2018/home">AI for Aging, Rehabilitation and Independent Assisted Living (ARIAL) and Intelligent Conversation Agents in Home and Geriatric Care Applications</a></li>
            <li><a href="https://sites.google.com/view/creditassignmenticml2018/home">Workshop on Efficient Credit Assignment in Deep Learning and Deep Reinforcement Learning (ECA)</a></li>
            <li><a href="http://reinforcement-learning.ml/pgmrl2018">Prediction and Generative Modeling in Reinforcement Learning</a></li>
            <li><a href="https://dtdannen.github.io/faim2018grw/">6th Goal Reasoning Workshop</a></li>
            <li><a href="https://sites.google.com/view/autonomy-in-teams">Autonomy in Teams — Joint Workshop on Sharing Autonomy in Human-Robot Interaction</a></li>
            <li><a href="https://icml.cc/Conferences/2018/">First Workshop on Deep Learning for Safety-Critical in Engineering Systems</a></li>
            <li><a href="http://airtlab.dii.univpm.it/rtcmas/">1st International Workshop on Real-Time Compliant Multi-Agent Systems (RTcMAS)</a></li>
            <li><a href="http://modelling-urban-systems.com/abmus2018">ABMUS-18 – Agent-Based Modelling of Urban Systems</a></li>
            <li><a href="https://sites.google.com/site/federatedai4robotics2018">Federated AI for Robotics Workshop (F-Rob-2018) ARMS, CogRob, ML for Robotics</a></li>
            <li><a href="http://faim2018.automl.org">AutoML 2018</a></li>
            <li><a href="http://machinelearningdebate.club">Machine Learning: The Great Debates (MLGD2018)</a></li>
            <li><a href="https://sites.google.com/site/faim18wscausalml/">Machine learning for Causal Inference, Counterfactual Prediction, and Autonomous Action (CausalML)</a></li>
            <li><a href="https://sites.google.com/view/icml2018nonconvex/">Modern Trends in Nonconvex Optimization for Machine Learning</a></li>
            <li><a href="http://homepages.abdn.ac.uk/pang.wei/pages/QR2018/index.html">31st International Workshop on Qualitative Reasoning (QR 2018)</a></li>
            <li><a href="https://sites.google.com/site/deeplearningtheory/">Theory of Deep Learning</a></li>
            <li><a href="https://sites.google.com/site/planlearn18/">Planning and Learning (PAL-18)</a></li>
            <li><a href="https://sites.google.com/a/usc.edu/aiwc/home">Artificial Intelligence for Wildlife Conservation (AIWC) Workshop</a></li>
            <li><a href="https://uclmr.github.io/nampi-v2/">Neural Abstract Machines &amp; Program Induction Workshop v2.0 (NAMPI_v2)</a></li>
            <li><a href="http://www.itolab.nitech.ac.jp/ACAN2018/index.html">International Workshop on Automated Negotiation (ACAN)</a></li>
            <li><a href="https://sites.google.com/view/tadgm/home">Theoretical Foundations and Applications of Deep Generative Models</a></li>
            <li><a href="https://fca4ai.hse.ru/">FCA4AI 2018</a></li>
            <li><a href="https://borjaballe.github.io/pimlai18/">Privacy in Machine Learning and Artificial Intelligence (PiMLAI)</a></li>
            <li><a href="http://www.humanizing-ai.com/">Humanizing AI (HAI)</a></li>
            <li><a href="https://sites.google.com/site/faimmusic2018/">The 2018 Joint Workshop on Machine Learning for Music</a></li>
            <li><a href="https://sites.google.com/site/icml18limitedlabels/">Towards learning with limited labels: Equivariance, Invariance, and Beyond</a></li>
            <li><a href="https://easychair.org/conferences/?conf=dise1">First Workshop on Deep Learning for Safety-Critical in Engineering Systems (DISE1)</a></li>
            <li><a href="http://ratiolog.uni-koblenz.de/bridging2018">Bridging the Gap between Human and Automated Reasoning</a></li>
            <li><a href="https://sites.google.com/view/tadgm/home">Theoretical Foundations and Applications of Deep Generative Models</a></li>
            <li><a href="http://www.starai.org/2018/">Eighth International Workshop on Statistical Relational AI</a></li>
            <li><a href="http://cea-madima.org/">Joint Workshop on Multimedia for Cooking and Eating Activities and Multimedia Assisted Dietary Management (CEA/MADiMa2018)</a></li>
            <li><a href="https://sites.google.com/view/wcb2018">Joint ICML and IJCAI Workshop on Computational Biology 2018</a></li>
            <li><a href="https://aim-hri.github.io/">AI-MHRI (AI for Multimodal Human-Robot Interaction)</a></li>
            <li><a href="https://sites.google.com/view/fix-workshops">Fairness, Interpretability, and Explainability Federation of Workshops</a></li>
            <li><a href="https://sites.google.com/view/erl-2018/">Exploration in Reinforcement Learning</a></li>
            <li><a href="https://sites.google.com/view/llarla2018/home">Lifelong Learning: A Reinforcement Learning Approach</a></li>
            <li><a href="https://easychair.org/conferences/?conf=ijcaiaffycomp2018">2nd International Joint Conference on Artificial Intelligence (IJCAI) Workshop on Artificial Intelligence in Affective Computing</a></li>
            <li><a href="https://sites.google.com/view/dare-18/home">Fifth International Workshop on Defeasible and Ampliative Reasoning (DARe-18)</a></li>
            <li><a href="https://sites.google.com/site/ai3workshop/">The AAMAS-IJCAI Workshop on Agents and Incentives in Artificial Intelligence</a></li>
            <li><a href="https://sites.google.com/site/tpm2018ws">Tractable Probabilistic Models</a></li>
            <li><a href="http://www.lamsade.dauphine.fr/~cazenave/cgw2018/cgw2018.html">Computer Games Workshop</a></li>
            <li><a href="https://sites.google.com/unimib.it/att2018">10th International Workshop on Agents in Traffic and Transportation (ATT 2018)</a></li>
            <li><a href="http://emas2018.dibris.unige.it/index.php">6th International Workshop on Engineering Multi-Agent Systems </a></li>
        </ul>
    </div>
{% endblock %}