{% extends 'base.html' %}

{% block includes %}
    {% load staticfiles %}
    <link href="{% static "css/specific_elements.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
{#    {% load staticfiles %}#}
    <div>
    <h3><u>Call for Proposals (CFP): Joint IJCAI/ECAI/AAMAS/ICML Workshops</u></h3>
    <br>
    Seventeenth International Conference on Autonomous Agents and Multiagent Systems
    <br>
    July 10-15, 2018, Stockholm, Sweden
    <br><br>
        A Federated Artificial Intelligence Meeting (FAIM) will be held in Stockholm from July 10-19, 2018, including the
        following major AI conferences:
        <ul>
            <li> IJCAI-ECAI (International Joint Conference on Artificial Intelligence -- also serving this
              year as ECAI, the European Conference on Artificial Intelligence)
            <li> ICML (International Conference on Machine Learning)
            <li> AAMAS (Autonomous Agents and Multi-Agent Systems)
            <li> ICCBR  (International Conference on Case-Based Reasoning)
            <li> SoCS (Symposium on Combinatorial Search)
        </ul>

        Rather than holding separate workshops, IJCAI/ECAI, AAMAS, and ICML are organizing a joint workshop program on
        Saturday-Sunday, July 13-15, 2018.
        <br><br>
        The objective of the joint FAIM workshop program is to stimulate and facilitate discussion, interaction, and
        comparison of approaches, methods, and ideas related to specific topics, both theoretical and applied, in the
        general area of artificial intelligence, and in specific areas of research often associated with one or more of
        the federated conferences. The workshops will provide an informal setting where participants will have the
        opportunity to discuss technical topics in an atmosphere that fosters the active exchange of ideas. This year,
        due to the co-location of these major conferences, the workshops represent a unique opportunity to meet and
        discuss ideas with researchers from a broad spectrum of disciplines spanning artificial intelligence, machine learning,
        and autonomous agents.
        <br><br>

        We are soliciting workshop proposals from all members of the AI community, whether or not associated with one of
        the federated conferences.  Workshop proposals should explain and motivate the topic of the workshop, discuss a
        format that will foster discussion and exchange of ideas, and provide preliminary evidence of interest (e.g., a
        list of tentatively-confirmed attendees).  Workshops will likely be half-day or one-day in duration, though we
        are willing to consider exceptions due to demonstrated special circumstances.
        <br><br>

        Due to the unique opportunity for a joint program, we will favor workshop proposals that have a broader audience,
        such as joint proposals from organizers of multiple events that have been previously held in conjunction with
        different conferences. Space constraints will make this year’s workshop program unusually competitive. In cases
        where synergies exist between multiple proposals, we anticipate the likelihood of merging such proposals into a
        single workshop slot. Of course, we also welcome proposals on topics that will attract interest only from a
        specific community.

        <br><br>
        <h4><u><b>Important Dates</b></u></h4>
        <ul>
            <li>Workshop proposals submissions : January 10, 2018
            <li>Workshop proposal notifications : January 29, 2018
            <li>Workshop program : July 13-15, 2018
        </ul>

        <h4><u><b>Format</b></u></h4>

        Proposals should clearly specify the following:
        <ul>
            <li>Workshop title and acronym if available
            <li>A brief description, emphasizing why this workshop would appeal to audiences from IJCAI-ECAI,
              AAMAS, and/or ICML
            <li>A draft call for papers,
            <li>A short description of the format of planned activities (talks, posters, panels, invited
              speakers if any, ...)
            <li>A list of organizers with
            <ul>
               <li>email addresses
               <li>web page URLs
               <li>pointers to Google Scholar or other similar citation service pages
               <li>a one-paragraph bio for each organizer, describing work experience, research expertise,
                 and previous experience organizing scientific meetings
            </ul>
            <li>The proposed duration (half day, one day, more---note need for special circumstances).
            <li>A description of the history of the workshop (if it previously took place then when/where)
            <li>Similar past and current events in the last 5 years
            <li>Intended audience.
            <li>Explanation of If this workshop is a merger of similar events from different conferences, or
              if you think it would be of interest to researchers in a given community, please let us know and explain.
        </ul>

        <h4><u><b>Submission Process</b></u></h4>

        Workshop proposals must be submitted by the deadline noted above at the easychair web site:
        <a href="https://easychair.org/conferences/?conf=faim18ws">https://easychair.org/conferences/?conf=faim18ws</a>

        For any details, please contact <a href="mailto:faim18ws@easychair.org?Subject=AAMAS 2017!!">faim18ws@easychair.org</a>
        <br><br>
    </div>
{% endblock %}